@font-face {
  font-family: Museo900-Regular;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Museo900-Regular/Museo900-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo900-Regular/Museo900-Regular.woff2") format("woff2"), url("../fonts/Museo900-Regular/Museo900-Regular.woff") format("woff"), url("../fonts/Museo900-Regular/Museo900-Regular.ttf") format("truetype"), url("../fonts/Museo900-Regular/Museo900-Regular.svg#Museo900-Regular") format("svg"); }

@font-face {
  font-family: Bebas;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Bebas/Bebas.eot?#iefix") format("embedded-opentype"), url("../fonts/Bebas/Bebas.woff2") format("woff2"), url("../fonts/Bebas/Bebas.woff") format("woff"), url("../fonts/Bebas/Bebas.ttf") format("truetype"), url("../fonts/Bebas/Bebas.svg#Bebas") format("svg"); }

@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ArialMT/ArialMT.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialMT/ArialMT.woff2") format("woff2"), url("../fonts/ArialMT/ArialMT.woff") format("woff"), url("../fonts/ArialMT/ArialMT.ttf") format("truetype"), url("../fonts/ArialMT/ArialMT.svg#Arial") format("svg"); }

@font-face {
  font-family: PfDinText;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/PFDINTEXT/PFDinTextPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDINTEXT/PFDinTextPro-Light.woff2") format("woff2"), url("../fonts/PFDINTEXT/PFDinTextPro-Light.woff") format("woff"), url("../fonts/PFDINTEXT/PFDinTextPro-Light.ttf") format("truetype"), url("../fonts/PFDINTEXT/PFDinTextPro-Light.svg#PfDinText") format("svg"); }

@font-face {
  font-family: PfDinText;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PFDINTEXT/PFDinTextPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDINTEXT/PFDinTextPro-Regular.woff2") format("woff2"), url("../fonts/PFDINTEXT/PFDinTextPro-Regular.woff") format("woff"), url("../fonts/PFDINTEXT/PFDinTextPro-Regular.ttf") format("truetype"), url("../fonts/PFDINTEXT/PFDinTextPro-Regular.svg#PfDinText") format("svg"); }

@font-face {
  font-family: PfDinText;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/PFDINTEXT/PFDinTextPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDINTEXT/PFDinTextPro-Medium.woff2") format("woff2"), url("../fonts/PFDINTEXT/PFDinTextPro-Medium.woff") format("woff"), url("../fonts/PFDINTEXT/PFDinTextPro-Medium.ttf") format("truetype"), url("../fonts/PFDINTEXT/PFDinTextPro-Medium.svg#PfDinText") format("svg"); }

@font-face {
  font-family: PfDinText;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PFDINTEXT/PFDinTextPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDINTEXT/PFDinTextPro-Bold.woff2") format("woff2"), url("../fonts/PFDINTEXT/PFDinTextPro-Bold.woff") format("woff"), url("../fonts/PFDINTEXT/PFDinTextPro-Bold.ttf") format("truetype"), url("../fonts/PFDINTEXT/PFDinTextPro-Bold.svg#PfDinText") format("svg"); }

@font-face {
  font-family: PfDinText;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/PFDINTEXT/PFDinTextPro-ExtraBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDINTEXT/PFDinTextPro-ExtraBlack.woff2") format("woff2"), url("../fonts/PFDINTEXT/PFDinTextPro-ExtraBlack.woff") format("woff"), url("../fonts/PFDINTEXT/PFDinTextPro-ExtraBlack.ttf") format("truetype"), url("../fonts/PFDINTEXT/PFDinTextPro-ExtraBlack.svg#PfDinText") format("svg"); }

@font-face {
  font-family: PfDintextCond;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PfDintextCond/PFDinTextCondPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PfDintextCond/PFDinTextCondPro-Regular.woff2") format("woff2"), url("../fonts/PfDintextCond/PFDinTextCondPro-Regular.woff") format("woff"), url("../fonts/PfDintextCond/PFDinTextCondPro-Regular.ttf") format("truetype"), url("../fonts/PfDintextCond/PFDinTextCondPro-Regular.svg#PfDintextCond") format("svg"); }

@font-face {
  font-family: PfDintextCond;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/PfDintextCond/PFDinTextCondPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PfDintextCond/PFDinTextCondPro-Medium.woff2") format("woff2"), url("../fonts/PfDintextCond/PFDinTextCondPro-Medium.woff") format("woff"), url("../fonts/PfDintextCond/PFDinTextCondPro-Medium.ttf") format("truetype"), url("../fonts/PfDintextCond/PFDinTextCondPro-Medium.svg#PfDintextCond") format("svg"); }

@font-face {
  font-family: PfDintextCond;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PfDintextCond/PFDinTextCondPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PfDintextCond/PFDinTextCondPro-Bold.woff2") format("woff2"), url("../fonts/PfDintextCond/PFDinTextCondPro-Bold.woff") format("woff"), url("../fonts/PfDintextCond/PFDinTextCondPro-Bold.ttf") format("truetype"), url("../fonts/PfDintextCond/PFDinTextCondPro-Bold.svg#PfDintextCond") format("svg"); }
