/*------------------------ABOUT------------------------------------*/
.about {
  background: #f7f7f7;
  padding-bottom: 10px;
  h3 {
    font: 400 30px 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #454545;
    margin-left: 10px;
  }
  p {
    font: 400 18px 'Source Sans Pro';
    margin-top: 30px;
    text-align: center;
  }
  .button {
    display: block;
    width: 140px;;
    height: 40px;
    color: #acd373;
    background: none;
    border: 1px solid #acd373;

    font: italic 18px/40px 'Droid Serif';
    text-align: center;
    margin: 30px auto 0;
    &:hover {
      color: #454545;;
      background: #acd373;
      transition: 0.5s;

    }
  }
}

.about-title {
  margin: 0 auto;
  text-align: center;
  h3,
  img {
    display: inline-block;
  }

}

.video-container {
  min-width: 550px;
  background: url(../images/o-college-students-in-group-facebook.jpg) fixed center/cover no-repeat;
}

.iphone-image {
  text-align: center;
  margin: 20px auto;
}

@media(min-width: 769px) {
    .who-we-are,
    .iphone-image {
      @include gallery(6 of 12);
      transition: 2s;
      padding-left: 15px;
      }
  .about {
    h3 {
      text-align: left;
    }
    p {
      text-align: left;
    }
    .button {
      margin: 30px 0 15px 0;
      &:hover {
        color: #454545;

      }
    }
  }
  .about-title{
    text-align: left;
  }
}