// Requirements
// ============
@import "susy";

$susy: (
        columns: 12,
        gutters: 1/4,
        container:1170px,
        math: fluid,
        output: float,
        gutter-position: after,
        debug: (
                image: hide,
                color: rgba(#66f, .5),
                output: background,
                toggle: top right,
        )
);
