/*-------------------------------------TEAM----------------------------*/
.team {
  background: #acd373;
  .title-white {
    color: #f7f7f7;
    @extend .title;
  }
  p {
    color: #f7f7f7;
    text-align: center;
    font: 400 18px 'Droid Serif';;
  }
  .row {
    text-align: center;
  }

}

.team-block-one {
  position: relative;
  width: 270px;
  max-width: 270px;
  height: 247px;
  background: #f7f7f7;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto 130px;
  h4 {
    font: 700 20px 'Source Sans Pro';
    color: #acd373;
    padding: 135px 0 10px;
  }
  span {
    font: italic 16px 'Droid Serif';
    color: #787878;
  }
  .social-block {
    background: #ebebeb;
    margin-top: 30px;
    width: 270px;
    a {
      display: inline-block;
      width: 28px;
      height: 28px;
      background: #525252;
      color: #ebebeb;
      line-height: 28px;
      border-radius: 50%;
      font-size: 19px;
      margin: 15px 10px 10px 0;

      &:hover {
        transform: scale(1.1);
        transition: 0.3s;

      }
    }
  }
  img {
    border-radius: 100%;
  }
}

.team-block-one li:first-child {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-team {
  display: block;
  width: 160px;;
  height: 40px;
  color: #f2f2f2;
  background: none;
  border: 1px solid #f2f2f2;

  font: italic 18px/40px 'Droid Serif';
  text-align: center;
  margin: 30px auto 0;
  &:hover {
    color: #454545;;
    background: #f2f2f2;
    transition: 0.5s;

  }
}

.team .circle-white {
  margin-bottom: 120px;
}

@media(min-width: 769px) {
  .team-block-one {
    @include gallery(6 of 12);
    transition: 2s;
  }
  .clients li {
    @include gallery(4 of 12);
  }
}

@media(min-width: 961px) {
  .team-block-one {
    /*  @include gallery(6 of 12);*/
    @include gallery(3 of 12);
    @include push(1);
    transition: 2s;

  }
  .clients li {
    @include gallery(2 of 12);
  }
}