/*@import "grids";*/
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
@import url(../bower_components/Slidebars/dist/slidebars.css);
/* line 4, ../sass/_reset.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 5, ../sass/_reset.scss */
body {
  padding: 0;
  margin: 0;
  font: 11px 'Arial', sans-serif;
  background: #fff;
}

/* line 6, ../sass/_reset.scss */
div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

/* line 12, ../sass/_reset.scss */
select, input, textarea {
  font-size: 12px;
  vertical-align: middle;
}

/* line 13, ../sass/_reset.scss */
textarea {
  vertical-align: top;
}

/* line 14, ../sass/_reset.scss */
:focus {
  outline: none;
}

/* line 15, ../sass/_reset.scss */
input[type=submit] {
  cursor: pointer;
}

/* line 16, ../sass/_reset.scss */
img, fieldset {
  border: 0;
}

/* line 17, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 18, ../sass/_reset.scss */
a:link, a:visited {
  font: 12px Tahoma, sans-serif;
  color: #000;
  text-decoration: none;
}

/* line 19, ../sass/_reset.scss */
a:hover {
  text-decoration: none;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
/* line 23, ../sass/_reset.scss */
.float-r {
  float: right !important;
}

/* line 24, ../sass/_reset.scss */
.float-l {
  float: left !important;
}

/* line 25, ../sass/_reset.scss */
.no-float {
  float: none !important;
}

/* line 26, ../sass/_reset.scss */
.no-border {
  border: 0 !important;
}

/* line 27, ../sass/_reset.scss */
.no-bg {
  background: none !important;
}

/* line 28, ../sass/_reset.scss */
.no-margin {
  margin: 0 !important;
}

/* line 29, ../sass/_reset.scss */
.no-padding {
  padding: 0 !important;
}

/* line 30, ../sass/_reset.scss */
.no-display {
  display: none !important;
}

/* line 31, ../sass/_reset.scss */
.display {
  display: block !important;
}

/* line 32, ../sass/_reset.scss */
.inline {
  display: inline !important;
}

/* line 33, ../sass/_reset.scss */
.overflow {
  overflow: hidden !important;
}

/* line 34, ../sass/_reset.scss */
.align-r {
  text-align: right !important;
}

/* line 35, ../sass/_reset.scss */
.align-l {
  text-align: left !important;
}

/* line 36, ../sass/_reset.scss */
.align-c {
  text-align: center !important;
}

/* line 37, ../sass/_reset.scss */
.clear {
  clear: both;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAV------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
  font-family: "MyriadPro BoldCond";
  src: url("../font/MyriadPro/MyriadPro-BoldCond.otf");
}
@font-face {
  font-family: "MyriadPro Cond";
  src: url("../font/MyriadPro/MyriadPro-Cond.otf");
}
@font-face {
  font-family: "MyriadPro CondIt";
  src: url("../font/MyriadPro/MyriadPro-CondIt.otf");
}
@font-face {
  font-family: "AGLettericaCondensed";
  src: url("../font/aglettericacondensedc.otf");
}
/*@import "../bower_components/bxslider/bx_styles/bx_styles.css";*/
/* line 9, ../sass/style.scss */
.iconMenu {
  color: #000;
}

/* line 13, ../sass/style.scss */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 19, ../sass/style.scss */
.alfavit {
  display: none;
}

/* line 50, ../sass/style.scss */
a:hover, a:focus, input:hover {
  transition: 0.2s;
}

/*---------------------------------------------------*/
/* line 55, ../sass/style.scss */
#sb-site {
  background-image: linear-gradient(to top, #020202 0%, #020202 47%, #2d2d2d 99%, #2d2d2d 100%);
}

/* line 59, ../sass/style.scss */
.navbar-fixed-top {
  position: fixed;
  top: 0;
  z-index: 9;
  background: #212121;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  width: 100%;
}

/* line 68, ../sass/style.scss */
.logo {
  position: relative;
  width: 211px;
  height: 54px;
  background-image: linear-gradient(to top, #313131 0%, #2a2a2a 100%);
  margin-left: -5px;
  transform: translate(-50%, 0);
  left: 50%;
}
/* line 76, ../sass/style.scss */
.logo .line {
  position: absolute;
  display: block;
  right: 0;
  top: 24px;
  width: 70px;
  height: 3px;
  background: #000;
  opacity: 0.2;
}
/* line 86, ../sass/style.scss */
.logo img {
  position: relative;
  z-index: 9;
  margin: 5px 0 0 -10px;
}

/* line 94, ../sass/style.scss */
.iconMenu {
  float: left;
  position: relative;
  z-index: 9;
  margin: 15px 0 0 10px;
  color: #b85200;
}

/* line 102, ../sass/style.scss */
.hero-body {
  position: relative;
  min-height: 343px;
  background: url("../images/hero-bg.jpg") fixed center center/cover no-repeat, url("../images/dashed.png") no-repeat left bottom;
}

/* line 108, ../sass/style.scss */
.sb-menu {
  font: 400 12px "Arial";
  color: #fff;
  background: #1f1f1f;
}
/* line 112, ../sass/style.scss */
.sb-menu a {
  font: 400 12px/30px "Arial";
  color: #fff;
  margin-left: 30px;
}
/* line 116, ../sass/style.scss */
.sb-menu a:hover {
  color: #a05913;
  transition: 0.2s;
}
/* line 121, ../sass/style.scss */
.sb-menu .logo {
  width: 100%;
  margin-left: 0;
}
/* line 125, ../sass/style.scss */
.sb-menu .sb-close {
  margin: 0 5px;
  height: 30px;
  background: url("../images/arrow.png") no-repeat 15px -18px, url("../images/dashed.png") no-repeat bottom #1a1a1a;
}
/* line 130, ../sass/style.scss */
.sb-menu .header {
  height: 40px;
  padding-left: 15px;
  background: url("../images/dekor-header-right-2.png") no-repeat 95% center, url("../images/dekor-header.png") no-repeat left center, url("../images/dekor-right-header.png") no-repeat right center, linear-gradient(to top, #844818 0%, #f28804 100%);
  border: 1px solid #6a3700;
  outline: 2px solid rgba(255, 255, 255, 0.2);
  outline-offset: -2px;
  font: 700 16px/40px 'MyriadPro Cond';
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33);
  color: #000;
  text-transform: uppercase;
  margin-top: 10px;
}

/* line 136, ../sass/style.scss */
.contact {
  display: none;
}

/* line 141, ../sass/style.scss */
.m-contact form {
  padding: 5px;
  position: absolute;
  top: 65%;
  left: 50%;
  width: 300px;
  text-align: center;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to top, #2a2a2a 0%, #1f1f1f 52%, #5d5d5d 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
}
/* line 152, ../sass/style.scss */
.m-contact form input {
  background-color: #252525;
  background-image: linear-gradient(to top, rgba(92, 92, 92, 0.04) 0%, rgba(10, 10, 10, 0.04) 100%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  width: 280px;
  height: 24px;
  font: italic 12px "MyriadPro Cond";
  color: #848484;
  padding-left: 20px;
}
/* line 162, ../sass/style.scss */
.m-contact form input:focus {
  border: 1px solid #c0721d;
}
/* line 166, ../sass/style.scss */
.m-contact form a {
  margin: 10px auto 0;
  display: block;
  background-color: #252525;
  background-image: linear-gradient(to top, rgba(92, 92, 92, 0.04) 0%, rgba(10, 10, 10, 0.04) 100%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  height: 24px;
  width: 150px;
  line-height: 24px;
  color: #848484;
  text-shadow: 0 1px 1px rgba(0, 3, 1, 0.65);
  font: 13px/24px "MyriadPro Cond";
}
/* line 177, ../sass/style.scss */
.m-contact form a:hover {
  background-image: linear-gradient(to top, #a66931 0%, #d77a0a 100%);
  text-shadow: 0 1px 1px rgba(0, 3, 1, 0.65);
  color: #fff;
}

/*--------------------------------------NEWS---------------------------------------*/
/* line 188, ../sass/style.scss */
.news .container div {
  margin-top: 20px;
  width: 320px;
  height: 182px;
  background: url("../images/news-decor-1.png") no-repeat right top, url(../images/news-decor-2.png) no-repeat left bottom, url(../images/decor-news-3.png) no-repeat left center #0e0e0e;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}
/* line 194, ../sass/style.scss */
.news .container div h3 {
  color: #848484;
  text-shadow: 0 1px 1px rgba(0, 3, 1, 0.65);
  font: 13px/24px "MyriadPro Cond";
  margin: 10px 0 0 15px;
  background: url("../images/news-1.png") no-repeat left;
  padding-left: 30px;
}
/* line 201, ../sass/style.scss */
.news .container div ul {
  box-shadow: inset 0 0 16px rgba(255, 255, 255, 0.1);
  width: 288px;
  height: 128px;
  margin: 10px auto;
  background: url(../images/dekor-news.png) no-repeat right;
}
/* line 207, ../sass/style.scss */
.news .container div ul li {
  padding-top: 10px;
}
/* line 209, ../sass/style.scss */
.news .container div ul li a {
  font: 400 11px "Arial";
  color: #fff;
  background: url(../images/arrow.png) no-repeat 20px 0;
  padding-left: 40px;
}

/*---------------------------------------------NAV-DESKTOP---------------------*/
/* line 221, ../sass/style.scss */
.colleft {
  display: none;
}

/*----------------------------------------------------------------------------*/
/* line 228, ../sass/style.scss */
.intro .fa {
  font-size: 60px;
  color: #ed145b;
}
/* line 233, ../sass/style.scss */
.intro p {
  margin: 50px auto;
  font: italic 300 25px/40px 'Lato';
  color: #fff;
  max-width: 800px;
}
/* line 240, ../sass/style.scss */
.intro .row {
  text-align: center;
}

/* line 246, ../sass/style.scss */
.bxslider li {
  position: relative;
}
/* line 248, ../sass/style.scss */
.bxslider li span {
  display: block;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 32px;
  width: 100%;
}
/* line 257, ../sass/style.scss */
.bxslider li span p {
  font: 400 11px/32px 'AGLettericaCondensed';
  margin: 0;
}

/*-------------------------------POST---------------------------------------------------------*/
/* line 267, ../sass/style.scss */
.post-nav {
  background: #fff;
  box-shadow: inset 0 1px 3px black;
  position: relative;
  padding: 10px 20px 10px 0;
  text-align: left;
}
/* line 273, ../sass/style.scss */
.post-nav a {
  font: 400 12px 'Arial';
  color: black;
}
/* line 276, ../sass/style.scss */
.post-nav a:hover {
  text-decoration: underline;
}
/* line 279, ../sass/style.scss */
.post-nav a img {
  padding: 0 5px 0 10px;
}
/* line 283, ../sass/style.scss */
.post-nav:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  top: 0;
  background-color: #948e91;
  box-shadow: 0 5px 5px black;
}
/* line 292, ../sass/style.scss */
.post-nav:after {
  display: none;
  content: "";
  position: absolute;
  height: 15px;
  width: 43%;
  top: 9px;
  right: 10px;
  background: url("../images/post-diagonal-lines.png") repeat;
}

/* line 304, ../sass/style.scss */
.post-header {
  text-align: left;
  height: 33px;
  background-image: linear-gradient(to top, #0f0f0f 0%, #0f0f0f 100%, #1a1a1a 100%);
}
/* line 309, ../sass/style.scss */
.post-header h4 {
  display: inline-block;
  float: left;
  margin: 12px 0 12px 35px;
}
/* line 314, ../sass/style.scss */
.post-header h4 a:hover {
  text-decoration: underline;
}
/* line 319, ../sass/style.scss */
.post-header .post-title {
  position: relative;
  font: 400 11px 'Arial';
  color: #ef8605;
  text-transform: uppercase;
}
/* line 324, ../sass/style.scss */
.post-header .post-title:before {
  content: url("../images/arrow-title.png");
  position: absolute;
  width: 27px;
  height: 29px;
  top: -8px;
  left: -30px;
}
/* line 333, ../sass/style.scss */
.post-header .fa {
  display: inline-block;
  float: right;
  width: 20px;
  margin: 7px 5px 0 5px;
  font-size: 20px;
  box-shadow: 0 0 1.4px 1.6px rgba(0, 3, 1, 0.4);
  background-color: #1a1a1a;
  background-image: linear-gradient(to top, #7f410a 0%, #d3830e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 344, ../sass/style.scss */
.post-header .fa:hover {
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
}

/* line 351, ../sass/style.scss */
.post-info {
  float: left;
  position: relative;
  padding: 2px 0 2px 5px;
  text-align: left;
  background: white;
}
/* line 357, ../sass/style.scss */
.post-info:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  left: 0;
  bottom: -7px;
  background: url("../images/post-diagonal-lines.png") repeat-x;
  z-index: 10;
}
/* line 367, ../sass/style.scss */
.post-info li {
  display: inline-block;
  font: 400 9px 'Arial';
  color: black;
  margin-right: 10px;
}
/* line 372, ../sass/style.scss */
.post-info li a {
  font: 400 9px 'Arial';
}
/* line 375, ../sass/style.scss */
.post-info li img {
  margin-right: 3px;
}
/* line 378, ../sass/style.scss */
.post-info li .fa {
  color: #b0b0b0;
  cursor: pointer;
  font-size: 14px;
}
/* line 383, ../sass/style.scss */
.post-info li .marked {
  color: #fea437;
}
/* line 387, ../sass/style.scss */
.post-info li a:hover {
  text-decoration: underline;
}

/* line 393, ../sass/style.scss */
.post-main {
  padding: 15px 5px;
  text-align: right;
  background: white;
  margin-top: 45px;
}
/* line 398, ../sass/style.scss */
.post-main:before {
  display: none;
  content: "";
  position: absolute;
  width: 65%;
  height: 15px;
  left: 10px;
  bottom: 10px;
  background: url("../images/post-diagonal-lines.png") repeat-x;
}
/* line 408, ../sass/style.scss */
.post-main img {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 413, ../sass/style.scss */
.post-main p {
  font: 400 11px/17px 'Arial';
  color: #7d7d7d;
  text-align: left;
  margin-bottom: 10px;
}
/* line 420, ../sass/style.scss */
.post-main .bold-text {
  color: #2f2f2f;
  font-weight: 700;
}
/* line 424, ../sass/style.scss */
.post-main a {
  font-size: 11px;
  color: black;
}
/* line 429, ../sass/style.scss */
.post-main .more-button {
  position: relative;
  margin-left: 10px;
  padding: 5px;
  background: -moz-linear-gradient(top, #894b17 0%, #ef8605 100%);
  background: -webkit-linear-gradient(top, #894b17 0%, #ef8605 100%);
  background: linear-gradient(to bottom, #894b17 0%, #ef8605 100%);
}
/* line 438, ../sass/style.scss */
.post-main .more-button:before {
  position: absolute;
  content: "";
  width: 43px;
  height: 22px;
  top: 0;
  left: 0;
  background: url("../images/main-button-before.png");
}
/* line 447, ../sass/style.scss */
.post-main .more-button:hover {
  text-decoration: none;
  opacity: 0.7;
}

/* line 454, ../sass/style.scss */
.namber-page {
  display: inline-block;
  position: relative;
  margin-top: 20px;
  width: 280px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.21);
}

/* line 465, ../sass/style.scss */
.page-numbers {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  background: #121212;
}
/* line 471, ../sass/style.scss */
.page-numbers li {
  display: inline-block;
  margin: 0 1px;
}
/* line 474, ../sass/style.scss */
.page-numbers li a {
  font: 400 13px 'Arial';
  color: #ef8605;
}
/* line 479, ../sass/style.scss */
.page-numbers li a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 485, ../sass/style.scss */
.page-numbers:before {
  position: absolute;
  content: "";
  width: 28px;
  height: 27px;
  top: 5px;
  right: -35px;
  background: url("../images/prev-page-icon.png");
}
/* line 495, ../sass/style.scss */
.page-numbers:after {
  position: absolute;
  content: "";
  width: 28px;
  height: 27px;
  top: 5px;
  left: -35px;
  background: url("../images/next-page-icon.png");
}

/*

  .page-numbers {
    display: inline-block;
    padding: 10px 25px;
    background: #121212;
    li {
      display: inline-block;
      margin: 0 1px;
      a {
        font: 400 13px 'Arial';
        color: #ef8605;
        @include transition(all, .3s, ease);

        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .change-page {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    width: 280px;
    .prev-button, .next-button {
      position: absolute;
      top: 4px;
      @include transition(all, .3s, ease);

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
    .next-button {
      right: 0;
    }
    .prev-button {
      left: 0;
    }
  }
}
*/
