.hero {
  position: relative;
  min-height: 800px;
  padding: 0 5px 5px 5px;
  background:url("../images/hero-bg.jpg") fixed center/cover no-repeat;
  color: #fff;
  .hero-body {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    .hero-title {
      font: 300 46px/46px "Lato";
      text-transform: uppercase;
      margin-bottom: 20px;
      span {
        font-weight: 900;
      }
    }
    p {
      font: 300 18px/30px "Lato";
      margin-bottom: 100px;
    }
  }

}

.hero .show-button{
  display: block;
  width:200px ;
  height: 50px;
  background:#ed145b;
  margin:30px auto ;
  border-radius: 24px;
  font:700 15px/50px 'Lato';
  color: #fff;
  text-transform: uppercase;
  &:hover{
    color: #ed145b;
    background: #fff;
    transition: 0.5s;
    box-shadow: 0 1px 2px rgba(1,1, 1, 0.9);

  }
}

/*------------------------------------------------DASKTOP------------------------*/
@media (min-width: 769px) {
  .hero {
    min-height: 800px;
    .hero-body {
      top: 60%;

    }
  }
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAVBAR---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#hero .logo {
  float: left;
  color: #fff;
  margin-top: 10px;
}

#navbar {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;

}

#navbar.default {
  position: fixed;
  top: 0;
  transition-duration: 2s;
  background: #ed145b;
}

.iconMenu {
  float: right;
  padding-top: 15px;
  margin-right: 10px;
}

.nav {
  li {
    float: left;
    margin-right: 35px;
    text-align: center;
    padding: 5px 10px;
    a {
      text-decoration: none;
      font: 700 16px/20px 'Lato';
      color: #fff;
    }
    &:hover {
      transition: 0.5s;
      color:#f4f4f4;
    }
  }
}

.itemsMenu li {
  display: inline;
  padding-right: 35px;
  width: 100%;
  margin: 0 auto;
  a {
    padding: 5px 10px;
    &:hover {
      transition: 0.5s;
      color: #ed145b;
    }

  }
}

.iconMenu {
  color: #fff;
  cursor: pointer;
  display: none;
  &:hover {
    color: #ed145b;
    transition: 0.5s;
  }
}

.showitems {
  display: block !important;
  transition: 1s;
}

.iconMenu {
  display: block;
}

.itemsMenu {
  display: none;
}

.itemsMenu li {
  display: block;
  padding: 5px;
}

@media(min-width: 769px) {
  .itemsMenu {
    display: block;
  }
  .iconMenu {
    display: none;
  }
  .itemsMenu li {
    padding: 5px 10px;
    width: auto;
    float: right;
    margin-top: 15px;
  }
}

/*------------------------------------------------DASKTOP------------------------*/






