/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
    font-family: "Lovelo-LineBold";
    src: url("Lovelo_Line_Bold.eot?") format("eot"), url("Lovelo_Line_Bold.woff") format("woff"), url("Lovelo_Line_Bold.ttf") format("truetype"), url("Lovelo_Line_Bold.svg#Lovelo-LineBold") format("svg");
    font-weight: normal;
    font-style: normal;
}
