.footer {
  margin-top: 2.125rem;
  padding: 2rem 0;
  background-color: #333; }

.footer-informer {
  float: left; }
  .footer-informer ul {
    float: left;
    margin-right: 2rem;
    width: 13.75rem; }
  .footer-informer .how-it-work li, .footer-informer .communication li {
    margin-bottom: 10px; }
    .footer-informer .how-it-work li h3, .footer-informer .communication li h3 {
      width: 6.625rem;
      text-align: left;
      color: #df0000;
      font-size: 1.5rem;
      font-family: "PfDinText";
      font-weight: 700;
      line-height: 1.125rem; }
  .footer-informer .how-it-work li:nth-child(2) img, .footer-informer .communication li:nth-child(2) img {
    float: left; }
  .footer-informer .how-it-work li:nth-child(2) p, .footer-informer .communication li:nth-child(2) p {
    float: left;
    padding: 1px 1px 1px 1.5rem;
    color: white;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    text-align: left;
    width: 8.063rem; }
  .footer-informer .how-it-work li:last-child, .footer-informer .communication li:last-child {
    margin-top: 35px; }
    .footer-informer .how-it-work li:last-child a, .footer-informer .communication li:last-child a {
      display: block;
      width: 100%;
      padding: 0.5rem 0.65rem;
      background-color: #df0000;
      border-radius: 0.25rem;
      color: white;
      font-size: 0.8rem;
      font-weight: 700;
      line-height: 0.875rem; }
      .footer-informer .how-it-work li:last-child a:hover, .footer-informer .communication li:last-child a:hover {
        background-color: #fff;
        color: #df0000; }

.footer-nav {
  float: right; }
  .footer-nav ul {
    float: left;
    margin-right: 2rem;
    width: 12.75rem; }
    .footer-nav ul li:first-child {
      margin-bottom: 20px;
      color: #ffe400;
      font-family: "PfDinText";
      font-size: 1.5rem;
      line-height: 1.125rem;
      font-weight: 700;
      border-bottom: none; }
    .footer-nav ul li {
      margin-bottom: 10px;
      padding-top: 5px;
      border-bottom: 1px solid rgba(230, 40, 48, 0.2); }
      .footer-nav ul li a {
        color: white;
        font-size: 0.875rem;
        line-height: 1rem; }
  .footer-nav li:hover {
    border-bottom: 1px solid rgba(230, 40, 48, 0.9); }
  .footer-nav .last {
    margin-right: 0; }

.left-bar {
  float: left;
  margin-right: 10px;
  width: 9.375rem; }
  .left-bar li {
    margin-bottom: 1rem; }
  .left-bar .iphone {
    position: relative;
    background: #fff;
    text-align: center;
    padding: 9px 0; }
    .left-bar .iphone img {
      vertical-align: middle; }
    .left-bar .iphone:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -.7rem;
      right: 1rem;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12px 17px 0 17px;
      border-color: #ffffff transparent transparent transparent;
      line-height: 0px;
      _border-color: #ffffff #000000 #000000 #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
    .left-bar .iphone .iner {
      position: absolute;
      top: 47px;
      left: 26px;
      width: 6rem;
      background: #d20000;
      box-shadow: 0 0.063rem 0.25rem rgba(0, 0, 0, 0.5);
      padding-top: 1.7rem;
      height: 7.238rem; }
      .left-bar .iphone .iner span img {
        vertical-align: middle;
        text-align: center; }
      .left-bar .iphone .iner p {
        margin-top: 10px;
        margin-left: 10px;
        text-align: left;
        color: white;
        font-size: 0.813rem;
        font-weight: 700;
        line-height: 0.875rem; }
  .left-bar .app-store a {
    display: block;
    width: 9.375rem;
    height: 3.25rem;
    background: url("../img/app-store.png") center/cover no-repeat; }
    .left-bar .app-store a:hover {
      -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
      transform: scale(1.03); }
    .left-bar .app-store a:active {
      -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
      transform: scale(0.97); }

.section {
  background: #f1eff1;
  padding: 20px 0 60px; }

.main {
  float: left;
  width: 34.375rem;
  position: relative; }
  .main h2 {
    position: relative;
    width: 9.375rem;
    height: 2.563rem;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    background: #960000;
    color: #fff;
    border-radius: 0.25rem 0.188rem 0.188rem 0.25rem;
    line-height: 2.563rem;
    text-align: center;
    font-family: "PfDinText";
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: uppercase; }
  .main .content {
    margin-bottom: 20px;
    padding: 0.1rem; }
    .main .content p {
      margin-left: .5rem;
      padding: 0.1rem;
      width: 33.188rem;
      font-size: 0.813rem;
      line-height: 1.125rem;
      color: black;
      font-weight: 400;
      font-family: "Arial"; }
      .main .content p a {
        color: #df0000; }
        .main .content p a:hover {
          text-decoration: underline; }
  .main .map {
    width: 18.75rem;
    float: left;
    margin-right: 1.125rem;
    margin-left: .5rem; }
  .main .info {
    float: left; }
    .main .info img {
      float: left;
      margin-right: 10px; }
    .main .info .content-info {
      padding: 0.1rem;
      float: left;
      width: 9.625rem; }
      .main .info .content-info p {
        margin-bottom: 30px;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.125rem;
        color: #7d7d7d; }
      .main .info .content-info a {
        display: block;
        margin-bottom: 5px;
        color: #df0000;
        text-decoration: underline; }
  .main:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 22px;
    left: 0;
    height: 1px;
    width: 120%;
    background-color: #cbcbcb;
    border-bottom: 1px solid #fff; }

.contact {
  position: relative;
  margin-bottom: 35px; }
  .contact:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 22px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #cbcbcb;
    border-bottom: 1px solid #fff; }

.right-block {
  float: right;
  position: relative; }
  .right-block h2 {
    position: relative;
    width: 9.375rem;
    height: 2.563rem;
    margin-bottom: 1.5rem;
    line-height: 2.563rem;
    text-align: center;
    font-family: "PfDinText";
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #e4e4e4;
    border-radius: 0.25rem 0.188rem 0.188rem 0.25rem;
    color: #7a7a7a; }
  .right-block p {
    margin-bottom: 21px;
    width: 12.625rem;
    color: #595959;
    font-size: 0.813rem;
    font-weight: 400;
    line-height: 1.125rem; }
  .right-block:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 22px;
    left: 0;
    height: 1px;
    width: 113%;
    background-color: #cbcbcb;
    border-bottom: 1px solid #fff; }

.dealings {
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 0.8125rem 1.125rem 0.625rem 0.625rem;
  float: right;
  width: 49.5rem;
  background-color: #2f2f2f;
  border-radius: 0.25rem; }
  .dealings h2 {
    position: relative;
    width: 16.125rem;
    margin-bottom: 17px;
    padding: 14px 24px 13px 19px;
    background-color: #464646;
    border-radius: 0.25rem 0.188rem 0.188rem 0.25rem;
    color: white;
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "PfDinText"; }
    .dealings h2:after {
      content: '';
      display: block;
      height: 1px;
      width: 400%;
      background: #000;
      border-bottom: 1px solid #444;
      position: absolute;
      top: 50%;
      left: -40%;
      z-index: -3; }
  .dealings .descriprion {
    width: 31.938rem;
    margin-bottom: 5px;
    padding: 0.1rem; }
    .dealings .descriprion p {
      font-size: 0.813rem;
      font-weight: 400;
      line-height: 1.125rem;
      color: #c7c7c7; }
      .dealings .descriprion p a {
        color: white; }
        .dealings .descriprion p a:hover {
          text-decoration: underline; }
  .dealings .tabs-block {
    float: left;
    position: relative; }
    .dealings .tabs-block .decoration-block {
      position: absolute;
      bottom: 0;
      left: 0; }
    .dealings .tabs-block:after {
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      background: #000;
      border-right: 1px solid #444;
      position: absolute;
      top: 0;
      right: -1.4rem;
      z-index: -3; }
    .dealings .tabs-block .img-cont {
      width: 33.6875rem; }
  .dealings ul {
    float: right;
    width: 13.125rem; }
    .dealings ul li {
      content: " ";
      display: block;
      clear: both; }
      .dealings ul li img {
        float: left;
        width: 3.75rem;
        margin-right: 0.5rem; }
      .dealings ul li div {
        float: left;
        width: 7.938rem;
        padding: 0.1rem;
        margin-bottom: 33px; }
        .dealings ul li div h3 {
          color: #ffe400;
          font-size: 0.813rem;
          font-weight: 700; }
        .dealings ul li div p {
          color: white;
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 0.875rem; }
