/*@import "grids";*/
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
@import url(../bower_components/Slidebars/dist/slidebars.css);
/* line 4, ../sass/_reset.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 5, ../sass/_reset.scss */
body {
  padding: 0;
  margin: 0;
  font: 11px 'Arial', sans-serif;
  background-image: linear-gradient(to top, #020202 0%, #020202 47%, #2d2d2d 99%, #2d2d2d 100%);
}

/* line 6, ../sass/_reset.scss */
div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

/* line 12, ../sass/_reset.scss */
select, input, textarea {
  font-size: 12px;
  vertical-align: middle;
}

/* line 13, ../sass/_reset.scss */
textarea {
  vertical-align: top;
}

/* line 14, ../sass/_reset.scss */
:focus {
  outline: none;
}

/* line 15, ../sass/_reset.scss */
input[type=submit] {
  cursor: pointer;
}

/* line 16, ../sass/_reset.scss */
img, fieldset {
  border: 0;
}

/* line 17, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 18, ../sass/_reset.scss */
a:link, a:visited {
  font: 12px Tahoma, sans-serif;
  color: #000;
  text-decoration: none;
}

/* line 19, ../sass/_reset.scss */
a:hover {
  text-decoration: none;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
/* line 23, ../sass/_reset.scss */
.float-r {
  float: right !important;
}

/* line 24, ../sass/_reset.scss */
.float-l {
  float: left !important;
}

/* line 25, ../sass/_reset.scss */
.no-float {
  float: none !important;
}

/* line 26, ../sass/_reset.scss */
.no-border {
  border: 0 !important;
}

/* line 27, ../sass/_reset.scss */
.no-bg {
  background: none !important;
}

/* line 28, ../sass/_reset.scss */
.no-margin {
  margin: 0 !important;
}

/* line 29, ../sass/_reset.scss */
.no-padding {
  padding: 0 !important;
}

/* line 30, ../sass/_reset.scss */
.no-display {
  display: none !important;
}

/* line 31, ../sass/_reset.scss */
.display {
  display: block !important;
}

/* line 32, ../sass/_reset.scss */
.inline {
  display: inline !important;
}

/* line 33, ../sass/_reset.scss */
.overflow {
  overflow: hidden !important;
}

/* line 34, ../sass/_reset.scss */
.align-r {
  text-align: right !important;
}

/* line 35, ../sass/_reset.scss */
.align-l {
  text-align: left !important;
}

/* line 36, ../sass/_reset.scss */
.align-c {
  text-align: center !important;
}

/* line 37, ../sass/_reset.scss */
.clear {
  clear: both;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAV------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
  font-family: "MyriadPro BoldCond";
  src: url("../font/MyriadPro/MyriadPro-BoldCond.otf");
}
@font-face {
  font-family: "MyriadPro Cond";
  src: url("../font/MyriadPro/MyriadPro-Cond.otf");
}
@font-face {
  font-family: "MyriadPro CondIt";
  src: url("../font/MyriadPro/MyriadPro-CondIt.otf");
}
@font-face {
  font-family: "AGLettericaCondensed";
  src: url("../font/aglettericacondensedc.otf");
}
/* line 9, ../sass/style.scss */
.iconMenu {
  color: #000;
}

/* line 13, ../sass/style.scss */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 19, ../sass/style.scss */
.container {
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 67, ../sass/style.scss */
a:hover, a:focus, input:hover {
  transition: 0.2s;
}

/* line 71, ../sass/style.scss */
.main .container:after {
  content: " ";
  display: none;
  clear: both;
}

/*--------------------------------------M-header-----------------------------------------*/
/* line 78, ../sass/style.scss */
#sb-site {
  background-image: linear-gradient(to top, #020202 0%, #020202 47%, #2d2d2d 99%, #2d2d2d 100%);
}
/* line 80, ../sass/style.scss */
#sb-site .container {
  background: #1f1f1f;
}

/* line 85, ../sass/style.scss */
.navbar-fixed-top {
  position: fixed;
  top: 0;
  z-index: 9;
  background: #212121;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  width: 100%;
}

/* line 94, ../sass/style.scss */
.logo {
  background-image: linear-gradient(to top, #313131 0%, #2a2a2a 100%);
  position: relative;
  width: 211px;
  height: 54px;
  margin-left: -5px;
  transform: translate(-50%, 0);
  left: 50%;
}
/* line 43, ../sass/style.scss */
.logo .line {
  position: absolute;
  display: block;
  right: 0;
  top: 24px;
  width: 70px;
  height: 3px;
  background: #000;
  opacity: 0.2;
}
/* line 53, ../sass/style.scss */
.logo img {
  position: relative;
  z-index: 9;
  margin: 5px 0 0 -10px;
}

/* line 100, ../sass/style.scss */
.iconMenu {
  float: left;
  position: relative;
  z-index: 9;
  margin: 15px 0 0 10px;
  color: #b85200;
  cursor: pointer;
}

/* line 110, ../sass/style.scss */
.hero-body-m {
  position: relative;
  min-height: 343px;
  background: url("../images/hero-bg.jpg") fixed center center/cover no-repeat, url("../images/dashed.png") no-repeat left bottom;
}

/* line 116, ../sass/style.scss */
.sb-menu {
  font: 400 12px "Arial";
  color: #fff;
  background: #1f1f1f;
}
/* line 120, ../sass/style.scss */
.sb-menu a {
  font: 400 12px/30px "Arial";
  color: #fff;
  margin-left: 30px;
}
/* line 124, ../sass/style.scss */
.sb-menu a:hover {
  color: #a05913;
  transition: 0.2s;
}
/* line 129, ../sass/style.scss */
.sb-menu .logo {
  width: 100%;
  margin-left: 0;
}
/* line 133, ../sass/style.scss */
.sb-menu .sb-close {
  margin: 0 5px;
  height: 30px;
  background: url("../images/arrow.png") no-repeat 15px -18px, url("../images/dashed.png") no-repeat bottom #1a1a1a;
}
/* line 138, ../sass/style.scss */
.sb-menu .header {
  height: 40px;
  padding-left: 15px;
  background: url("../images/dekor-header-right-2.png") no-repeat 95% center, url("../images/dekor-header.png") no-repeat left center, url("../images/dekor-right-header.png") no-repeat right center, linear-gradient(to top, #844818 0%, #f28804 100%);
  border: 1px solid #6a3700;
  outline: 2px solid rgba(255, 255, 255, 0.2);
  outline-offset: -2px;
  font: 700 16px/40px 'MyriadPro Cond';
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33);
  color: #000;
  text-transform: uppercase;
  margin-top: 10px;
}

/* line 144, ../sass/style.scss */
.contact {
  display: none;
}

/* line 149, ../sass/style.scss */
.m-contact form {
  padding: 5px;
  position: absolute;
  top: 65%;
  left: 50%;
  width: 300px;
  text-align: center;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to top, #2a2a2a 0%, #1f1f1f 52%, #5d5d5d 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
}
/* line 160, ../sass/style.scss */
.m-contact form input {
  background-color: #252525;
  background-image: linear-gradient(to top, rgba(92, 92, 92, 0.04) 0%, rgba(10, 10, 10, 0.04) 100%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  width: 280px;
  height: 24px;
  font: italic 12px "MyriadPro Cond";
  color: #848484;
  padding-left: 20px;
}
/* line 170, ../sass/style.scss */
.m-contact form input:focus {
  border: 1px solid #c0721d;
}
/* line 174, ../sass/style.scss */
.m-contact form a {
  margin: 10px auto 0;
  display: block;
  background-color: #252525;
  background-image: linear-gradient(to top, rgba(92, 92, 92, 0.04) 0%, rgba(10, 10, 10, 0.04) 100%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  height: 24px;
  width: 150px;
  line-height: 24px;
  color: #848484;
  text-shadow: 0 1px 1px rgba(0, 3, 1, 0.65);
  font: 13px/24px "MyriadPro Cond";
}
/* line 185, ../sass/style.scss */
.m-contact form a:hover {
  background-image: linear-gradient(to top, #a66931 0%, #d77a0a 100%);
  text-shadow: 0 1px 1px rgba(0, 3, 1, 0.65);
  color: #fff;
}

/*-----------------------------------------DESKTOP----------------------------*/
/*---------------------------------------CONTROL-PANEL------------------------*/
/* line 198, ../sass/style.scss */
.hero-body,
.hero-desctop,
.alfavit,
.left-side-bar,
#sb-site .right-sidebar {
  display: none;
}

@media (min-width: 1020px) {
  /* line 207, ../sass/style.scss */
  .m-contact,
  .sb-slidebar,
  .sb-toggle-left,
  .navbar,
  .hero-body-m {
    display: none;
  }

  /* line 214, ../sass/style.scss */
  .alfavit,
  .hero-body,
  .hero-desctop,
  .contact,
  .left-side-bar,
  #sb-site .right-sidebar {
    display: block;
  }
}
/* line 225, ../sass/style.scss */
.hero-desctop {
  position: relative;
  min-height: 343px;
  padding: 0 5px 5px 5px;
  background: url("../images/hero-bg.jpg") fixed center center/cover no-repeat;
  color: #fff;
}
/* line 232, ../sass/style.scss */
.hero-desctop:before {
  content: "";
  position: absolute;
  height: 27px;
  width: 100%;
  top: 0;
  right: 10px;
  background: #020202;
  box-shadow: 0 3px 7px #000301, 0 0 1px rgba(255, 255, 255, 0.38);
}
/* line 242, ../sass/style.scss */
.hero-desctop .navbar-desctop {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  height: 54px;
  background: #212121;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
/* line 250, ../sass/style.scss */
.hero-desctop .navbar-desctop .nav {
  float: right;
}
/* line 252, ../sass/style.scss */
.hero-desctop .navbar-desctop .nav li {
  display: inline-block;
}
/* line 254, ../sass/style.scss */
.hero-desctop .navbar-desctop .nav li a {
  display: block;
  min-width: 81px;
  color: #fff;
  font: 400 13px/54px 'AGLettericaCondensed';
  text-transform: uppercase;
  border-left: 1px solid #212121;
  border-right: 1px solid #212121;
  text-align: center;
}
/* line 263, ../sass/style.scss */
.hero-desctop .navbar-desctop .nav li a:hover {
  border-left: 1px solid #252525;
  border-right: 1px solid #252525;
  background: url("../images/bright.png") 0 10px no-repeat #BF7423;
}
/* line 271, ../sass/style.scss */
.hero-desctop .navbar-desctop .logo-desktop {
  position: relative;
  float: left;
  width: 211px;
  height: 54px;
  background-image: linear-gradient(to top, #313131 0%, #2a2a2a 100%);
}
/* line 277, ../sass/style.scss */
.hero-desctop .navbar-desctop .logo-desktop .line {
  position: absolute;
  display: block;
  right: 0;
  top: 24px;
  width: 70px;
  height: 3px;
  background: #000;
  opacity: 0.2;
}
/* line 287, ../sass/style.scss */
.hero-desctop .navbar-desctop .logo-desktop img {
  position: relative;
  z-index: 9;
  margin: 5px 0 0 0;
}
/* line 293, ../sass/style.scss */
.hero-desctop .navbar-desctop:after {
  content: "";
  position: absolute;
  height: 15px;
  width: 100%;
  left: -0.5px;
  background-color: #101010;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-top: none;
  border-radius: 0 0 10px 10px;
}
/* line 305, ../sass/style.scss */
.hero-desctop .alfavit {
  position: absolute;
  height: 45px;
  bottom: 0;
  width: 885px;
  left: 50%;
  transform: translate(-50%, 0);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #5A5A5A;
  border-left: 1px solid #5A5A5A;
  border-right: 1px solid #5A5A5A;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.6);
}
/* line 319, ../sass/style.scss */
.hero-desctop .alfavit li {
  display: inline-block;
}
/* line 321, ../sass/style.scss */
.hero-desctop .alfavit li a {
  margin: 0 5px;
  font: 15px/45px 'Myriad Pro';
  color: white;
  text-transform: uppercase;
}
/* line 327, ../sass/style.scss */
.hero-desctop .alfavit li a:hover {
  color: #b85200;
}

/* line 335, ../sass/style.scss */
.alfavit ul li:first-child {
  margin-left: 80px;
}

/*---------------------------------------CONTACT------------------------*/
/* line 340, ../sass/style.scss */
.contact {
  margin: 0 auto;
  width: 990px;
  height: 50px;
  background-image: linear-gradient(to top, #5c5c5c 0%, #0a0a0a 50%, #5c5c5c 100%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.63);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 349, ../sass/style.scss */
.contact .container {
  width: 975px;
  height: 43px;
  background-image: linear-gradient(to top, #2a2a2a 0%, #1f1f1f 52%, #5d5d5d 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.14);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 7px auto 0;
}
/* line 357, ../sass/style.scss */
.contact .container .logo-contact {
  margin-left: 70px;
  margin-right: 40px;
  font: 15px 'Myriad Pro';
  background: #cc8348;
  background: -moz-linear-gradient(90deg, #cc8348 38%, #b85302 45%);
  background: -webkit-linear-gradient(90deg, #cc8348 38%, #b85302 45%);
  background: -o-linear-gradient(90deg, #cc8348 38%, #b85302 45%);
  background: -ms-linear-gradient(90deg, #cc8348 38%, #b85302 45%);
  background: linear-gradient(180deg, #cc8348 38%, #b85302 45%);
  text-shadow: 0 0 11px rgba(0, 3, 1, 0.57);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 375, ../sass/style.scss */
.contact .logo-contact,
.contact .search-form,
.contact .links {
  display: inline-block;
}

/* line 382, ../sass/style.scss */
.search-form {
  position: relative;
  margin-right: 130px;
  margin-top: 10px;
}
/* line 387, ../sass/style.scss */
.search-form input[type="text"] {
  height: 25px;
  width: 240px;
  padding-left: 20px;
  padding-right: 40px;
  border-radius: 15px;
  border: 1px solid #454545;
  background: #343434;
  background: linear-gradient(to bottom, #262626 0%, #323232 100%);
  font: italic 12px/14px 'Myriad Pro';
  color: #848484;
}
/* line 398, ../sass/style.scss */
.search-form input[type="text"]:focus {
  box-shadow: 0px 0px 5px white;
}
/* line 403, ../sass/style.scss */
.search-form input[type="submit"] {
  position: absolute;
  height: 32px;
  width: 27px;
  top: 0;
  right: 10px;
  border: none;
  background: url("../images/search-contact-icon.png") center no-repeat transparent;
  cursor: pointer;
}
/* line 412, ../sass/style.scss */
.search-form input[type="submit"]:hover {
  transform: scale(1.1);
}
/* line 416, ../sass/style.scss */
.search-form ::-webkit-input-placeholder {
  color: #848484;
}
/* line 419, ../sass/style.scss */
.search-form ::-moz-placeholder {
  color: #848484;
}
/* line 422, ../sass/style.scss */
.search-form :-moz-placeholder {
  color: #848484;
}
/* line 425, ../sass/style.scss */
.search-form :-ms-input-placeholder {
  color: #848484;
}

/* line 431, ../sass/style.scss */
.links li {
  display: inline-block;
  margin-right: 10px;
}
/* line 434, ../sass/style.scss */
.links li:after {
  content: url("../images/dots.png");
  height: 10px;
  width: 3px;
  margin-left: 10px;
}
/* line 440, ../sass/style.scss */
.links li:last-child:after {
  content: "";
  margin-left: 0;
}
/* line 444, ../sass/style.scss */
.links li a {
  font: 13px 'Myriad Pro';
  color: white;
  text-shadow: 0 1px 4px rgba(0, 3, 1, 0.65);
  background: -webkit-linear-gradient(top, #FFFFFF, #898989);
  background: linear-gradient(top, #FFFFFF, #898989);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 453, ../sass/style.scss */
.links li a:hover {
  background: -webkit-linear-gradient(top, #FF9F17, #b87700);
  background: linear-gradient(top, #FF9F17, #b87700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*--------------------------------------NEWS---------------------------------------*/
/* line 465, ../sass/style.scss */
.news {
  margin-bottom: 20px;
}

/* line 469, ../sass/style.scss */
.news .container div {
  margin: 10px auto 0;
  width: 324px;
  height: 182px;
  background: url("../images/news-decor-1.png") no-repeat right top, url(../images/news-decor-2.png) no-repeat left bottom, url(../images/decor-news-3.png) no-repeat left center #0e0e0e;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}
/* line 475, ../sass/style.scss */
.news .container div h3 {
  color: #848484;
  text-shadow: 0 1px 1px rgba(0, 3, 1, 0.65);
  font: 13px/24px "MyriadPro Cond";
  margin: 10px 0 0 15px;
  background: url("../images/news-1.png") no-repeat left;
  padding-left: 30px;
}
/* line 481, ../sass/style.scss */
.news .container div ul {
  box-shadow: inset 0 0 16px rgba(255, 255, 255, 0.1);
  width: 288px;
  height: 128px;
  margin: 10px auto;
  background: url(../images/dekor-news.png) no-repeat right;
}
/* line 487, ../sass/style.scss */
.news .container div ul li {
  padding-top: 10px;
}
/* line 489, ../sass/style.scss */
.news .container div ul li a {
  font: 400 11px "Arial";
  color: #fff;
  background: url(../images/arrow.png) no-repeat 20px 0;
  padding-left: 40px;
}

@media (min-width: 769px) {
  /* line 501, ../sass/style.scss */
  .news .container .grid {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 503, ../sass/style.scss */
  .news .container .grid:last-of-type {
    float: right;
    margin-right: 0;
  }
  /* line 508, ../sass/style.scss */
  .news .container div ul {
    width: 100%;
  }
}
@media (min-width: 1020px) {
  /* line 514, ../sass/style.scss */
  .news .container div ul {
    width: 288px;
  }
}
/*----------------------LEFT-Right-BAR-----------------------------------------*/
/* line 519, ../sass/style.scss */
.center-grid {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 1020px) {
  /* line 524, ../sass/style.scss */
  .center-grid {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 529, ../sass/style.scss */
.left-side-bar {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  font: 400 12px "Arial";
  color: #fff;
  background: #1f1f1f;
}
/* line 534, ../sass/style.scss */
.left-side-bar a {
  font: 400 12px/30px "Arial";
  color: #fff;
  margin-left: 30px;
}
/* line 538, ../sass/style.scss */
.left-side-bar a:hover {
  color: #a05913;
  transition: 0.2s;
}
/* line 543, ../sass/style.scss */
.left-side-bar .sb-close {
  height: 30px;
  background: url("../images/arrow.png") no-repeat 15px -18px, url("../images/dashed.png") no-repeat bottom #1a1a1a;
}
/* line 548, ../sass/style.scss */
.left-side-bar .header {
  height: 40px;
  padding-left: 15px;
  background: url("../images/dekor-header-right-2.png") no-repeat 95% center, url("../images/dekor-header.png") no-repeat left center, url("../images/dekor-right-header.png") no-repeat right center, linear-gradient(to top, #844818 0%, #f28804 100%);
  border: 1px solid #6a3700;
  outline: 2px solid rgba(255, 255, 255, 0.2);
  outline-offset: -2px;
  font: 700 16px/40px 'MyriadPro Cond';
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33);
  color: #000;
  text-transform: uppercase;
}
/* line 551, ../sass/style.scss */
.left-side-bar .reclame {
  background: #1f1f1f;
}
/* line 553, ../sass/style.scss */
.left-side-bar .reclame a {
  display: block;
  position: relative;
}
/* line 556, ../sass/style.scss */
.left-side-bar .reclame a span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 140%);
  text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.37), 0 0 5px rgba(0, 0, 0, 0.75);
  color: #1d1d1d;
  font: 16px 'Myriad Pro';
  text-align: center;
}

/* line 569, ../sass/style.scss */
.right-sidebar {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  display: inline-block;
  vertical-align: top;
}
/* line 574, ../sass/style.scss */
.right-sidebar h3 {
  height: 42px;
  width: 209px;
  background: url("../images/right-sidebar-title.png") center no-repeat black;
}
/* line 579, ../sass/style.scss */
.right-sidebar .block-title {
  display: block;
  text-align: center;
  font: 14px/43px 'MyriadPro Cond';
  color: #e58106;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33);
  text-transform: uppercase;
}
/* line 587, ../sass/style.scss */
.right-sidebar .gallery, .right-sidebar .video, .right-sidebar .advertise, .right-sidebar .advertising-poll {
  display: inline-block;
  max-width: 209px;
  vertical-align: top;
}
/* line 592, ../sass/style.scss */
.right-sidebar .gallery {
  padding-bottom: 25px;
  margin-bottom: 30px;
  background: #1a1a1a;
}
/* line 597, ../sass/style.scss */
.right-sidebar .gallery-list, .right-sidebar .video-list {
  margin-top: 10px;
  text-align: center;
}
/* line 600, ../sass/style.scss */
.right-sidebar .gallery-list li, .right-sidebar .video-list li {
  display: inline-block;
  margin: 3px;
  width: 77px;
}
/* line 606, ../sass/style.scss */
.right-sidebar .video {
  padding-bottom: 25px;
  margin-bottom: 10px;
  background: #1a1a1a;
}
/* line 611, ../sass/style.scss */
.right-sidebar .video-name {
  margin-top: 5px;
  font-size: 9px;
  color: #f08704;
}
/* line 616, ../sass/style.scss */
.right-sidebar .view-button {
  float: right;
  padding: 5px;
  margin-top: 5px;
  margin-right: 20px;
  color: black;
  background: -webkit-linear-gradient(to top, #834719 0%, #f28804 100%);
  background: -moz-linear-gradient(to top, #834719 0%, #f28804 100%);
  background: linear-gradient(to top, #834719 0%, #f28804 100%);
}
/* line 625, ../sass/style.scss */
.right-sidebar .view-button:hover {
  box-shadow: 0px 0px 5px white;
}
/* line 630, ../sass/style.scss */
.right-sidebar .advertise {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 25px;
  background: #1a1a1a;
}
/* line 635, ../sass/style.scss */
.right-sidebar .advertise img {
  margin-top: 10px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
/* line 642, ../sass/style.scss */
.right-sidebar .advertise .banner-text {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0);
  text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.37), 0 0 5px rgba(0, 0, 0, 0.75);
  color: #1d1d1d;
  font: 16px 'Myriad Pro';
  text-align: center;
}
/* line 653, ../sass/style.scss */
.right-sidebar .advertising-poll {
  text-align: left;
  background: #1a1a1a;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
/* line 658, ../sass/style.scss */
.right-sidebar .advertising-poll h3 {
  text-align: center;
}
/* line 661, ../sass/style.scss */
.right-sidebar .advertising-poll form {
  margin-left: 10px;
}
/* line 664, ../sass/style.scss */
.right-sidebar .advertising-poll p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 11px;
  color: #fb9c0b;
}
/* line 670, ../sass/style.scss */
.right-sidebar .advertising-poll li {
  font-size: 11px;
  color: white;
  margin-bottom: 5px;
}
/* line 675, ../sass/style.scss */
.right-sidebar .advertising-poll .marked-button, .right-sidebar .advertising-poll .unmarked-button {
  display: inline-block;
  margin-top: 15px;
}
/* line 678, ../sass/style.scss */
.right-sidebar .advertising-poll .marked-button:hover, .right-sidebar .advertising-poll .unmarked-button:hover {
  box-shadow: 0px 0px 5px white;
}
/* line 682, ../sass/style.scss */
.right-sidebar .advertising-poll .marked-button {
  padding: 5px 10px;
  color: black;
  text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.21);
  background: -webkit-linear-gradient(to top, #894b17 0%, #ef8605 100%);
  background: -moz-linear-gradient(to top, #894b17 0%, #ef8605 100%);
  background: linear-gradient(to top, #894b17 0%, #ef8605 100%);
}
/* line 690, ../sass/style.scss */
.right-sidebar .advertising-poll .unmarked-button {
  padding: 4px 9px;
  color: white;
  border: 1px solid #393939;
  background: -webkit-linear-gradient(to top, black 0%, #1f1f1f 100%);
  background: -moz-linear-gradient(to top, black 0%, #1f1f1f 100%);
  background: linear-gradient(to top, black 0%, #1f1f1f 100%);
}

/*----------------------------------------------------------------------------*/
/* line 702, ../sass/style.scss */
.intro .fa {
  font-size: 60px;
  color: #ed145b;
}
/* line 706, ../sass/style.scss */
.intro p {
  margin: 50px auto;
  font: italic 300 25px/40px 'Lato';
  color: #fff;
  max-width: 800px;
}
/* line 712, ../sass/style.scss */
.intro .row {
  text-align: center;
  position: relative;
}

/* line 718, ../sass/style.scss */
.bxslider li {
  position: relative;
}
/* line 720, ../sass/style.scss */
.bxslider li span {
  display: block;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 32px;
  width: 100%;
}
/* line 727, ../sass/style.scss */
.bxslider li span p {
  font: 400 11px/32px 'AGLettericaCondensed';
  margin: 0;
}

@media (min-width: 1020px) {
  /* line 736, ../sass/style.scss */
  #bx-pager {
    min-width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-51%, 0);
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}
/*-------------------------------POST---------------------------------------------------------*/
/* line 747, ../sass/style.scss */
#posts {
  max-width: 550px;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 1020px) {
  /* line 755, ../sass/style.scss */
  #posts {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 760, ../sass/style.scss */
.post-nav {
  background: #fff;
  box-shadow: inset 0 1px 3px black;
  position: relative;
  padding: 10px 20px 10px 0;
  text-align: left;
}
/* line 766, ../sass/style.scss */
.post-nav a {
  font: 400 12px 'Arial';
  color: black;
}
/* line 769, ../sass/style.scss */
.post-nav a:hover {
  text-decoration: underline;
}
/* line 772, ../sass/style.scss */
.post-nav a img {
  padding: 0 5px 0 10px;
}
/* line 776, ../sass/style.scss */
.post-nav:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  top: 0;
  background-color: #948e91;
  box-shadow: 0 5px 5px black;
}
/* line 785, ../sass/style.scss */
.post-nav:after {
  display: none;
  content: "";
  position: absolute;
  height: 15px;
  width: 43%;
  top: 9px;
  right: 10px;
  background: url("../images/post-diagonal-lines.png") repeat;
}

/* line 798, ../sass/style.scss */
.post-header {
  text-align: left;
  height: 33px;
  background-image: linear-gradient(to top, #0f0f0f 0%, #0f0f0f 100%, #1a1a1a 100%);
}
/* line 802, ../sass/style.scss */
.post-header h4 {
  display: inline-block;
  float: left;
  margin: 12px 0 12px 35px;
}
/* line 807, ../sass/style.scss */
.post-header h4 a:hover {
  text-decoration: underline;
}
/* line 812, ../sass/style.scss */
.post-header .post-title {
  position: relative;
  font: 400 11px 'Arial';
  color: #ef8605;
  text-transform: uppercase;
}
/* line 817, ../sass/style.scss */
.post-header .post-title:before {
  content: url("../images/arrow-title.png");
  position: absolute;
  width: 27px;
  height: 29px;
  top: -8px;
  left: -30px;
}
/* line 826, ../sass/style.scss */
.post-header .fa {
  display: inline-block;
  float: right;
  width: 20px;
  margin: 7px 5px 0 5px;
  font-size: 20px;
  box-shadow: 0 0 1.4px 1.6px rgba(0, 3, 1, 0.4);
  background-color: #1a1a1a;
  background-image: linear-gradient(to top, #7f410a 0%, #d3830e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 837, ../sass/style.scss */
.post-header .fa:hover {
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
}

/* line 845, ../sass/style.scss */
.post-info {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  padding: 2px 0 2px 5px;
  text-align: left;
  background: white;
}
/* line 853, ../sass/style.scss */
.post-info:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  left: 0;
  bottom: -7px;
  background: url("../images/post-diagonal-lines.png") repeat-x;
  z-index: 10;
}
/* line 863, ../sass/style.scss */
.post-info li {
  display: inline-block;
  font: 400 9px 'Arial';
  color: black;
  margin-right: 5px;
}
/* line 868, ../sass/style.scss */
.post-info li a {
  font: 400 9px 'Arial';
}
/* line 871, ../sass/style.scss */
.post-info li img {
  margin-right: 3px;
}
/* line 874, ../sass/style.scss */
.post-info li .fa {
  color: #b0b0b0;
  cursor: pointer;
  font-size: 14px;
}
/* line 879, ../sass/style.scss */
.post-info li .marked {
  color: #fea437;
}
/* line 883, ../sass/style.scss */
.post-info li a:hover {
  text-decoration: underline;
}

/* line 890, ../sass/style.scss */
.post-main {
  position: relative;
  padding: 15px 5px;
  text-align: right;
  background: white;
  margin-top: 40px;
}
/* line 896, ../sass/style.scss */
.post-main:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 15px;
  left: 5px;
  bottom: 13px;
  background: url("../images/post-diagonal-lines.png") repeat-x;
}
/* line 905, ../sass/style.scss */
.post-main img {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 910, ../sass/style.scss */
.post-main p {
  font: 11px/15px 'Arial';
  color: #7d7d7d;
  text-align: left;
  margin-bottom: 10px;
}
/* line 916, ../sass/style.scss */
.post-main .bold-text {
  color: #2f2f2f;
  font-weight: 700;
}
/* line 920, ../sass/style.scss */
.post-main a {
  font-size: 11px;
  color: black;
}
/* line 924, ../sass/style.scss */
.post-main .more-button {
  position: relative;
  margin-left: 10px;
  padding: 5px;
  background: -moz-linear-gradient(top, #894b17 0%, #ef8605 100%);
  background: -webkit-linear-gradient(top, #894b17 0%, #ef8605 100%);
  background: linear-gradient(to bottom, #894b17 0%, #ef8605 100%);
}
/* line 931, ../sass/style.scss */
.post-main .more-button:before {
  position: absolute;
  content: "";
  width: 43px;
  height: 22px;
  top: 0;
  left: 0;
  background: url("../images/main-button-before.png");
}
/* line 940, ../sass/style.scss */
.post-main .more-button:hover {
  text-decoration: none;
  box-shadow: 0px 0px 5px #1c1c1c;
}

/* line 946, ../sass/style.scss */
.namber-page {
  background: #fff;
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  transform: translate(-50%, 0);
  left: 50%;
  padding-bottom: 10px;
}

/* line 956, ../sass/style.scss */
.pagination {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  background: #121212;
}
/* line 961, ../sass/style.scss */
.pagination li {
  display: inline-block;
  margin: 0 1px;
}
/* line 964, ../sass/style.scss */
.pagination li a {
  font: 400 13px 'Arial';
  color: #ef8605;
}
/* line 968, ../sass/style.scss */
.pagination li a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 974, ../sass/style.scss */
.pagination:before {
  position: absolute;
  content: "";
  width: 28px;
  height: 27px;
  top: 5px;
  right: -35px;
  background: url("../images/next-page-icon.png");
  cursor: pointer;
  transform: scale(1.1);
}
/* line 985, ../sass/style.scss */
.pagination:after {
  position: absolute;
  content: "";
  width: 28px;
  height: 27px;
  top: 5px;
  left: -35px;
  background: url("../images/prev-page-icon.png");
  cursor: pointer;
  transform: scale(1.1);
}

/* line 997, ../sass/style.scss */
.down-banner {
  display: none;
  position: relative;
  padding-left: 5px;
  text-align: left;
  border: 1px solid black;
  box-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.36);
}
/* line 1004, ../sass/style.scss */
.down-banner .banner-pic img {
  max-width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  vertical-align: top;
}
/* line 1010, ../sass/style.scss */
.down-banner .banner-text {
  position: absolute;
  bottom: 12px;
  right: 88px;
  font: 400 16px 'MyriadPro Cond';
  color: #1f1f1f;
  text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.41);
}

@media (min-width: 1020px) {
  /* line 1020, ../sass/style.scss */
  .down-banner {
    display: block;
  }

  /* line 1024, ../sass/style.scss */
  .post-main:before {
    width: 60%;
  }
}
/*---------------------------------FOOTER----------------------------------*/
/* line 1031, ../sass/style.scss */
footer .container {
  background-color: #0c0c0c;
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.1);
}
/* line 1034, ../sass/style.scss */
footer .container:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 100%;
  max-width: 992px;
  background: #1c1c1c;
  background: -moz-linear-gradient(90deg, #1c1c1c 33%, #212121 80%);
  background: -webkit-linear-gradient(90deg, #1c1c1c 33%, #212121 80%);
  background: -o-linear-gradient(90deg, #1c1c1c 33%, #212121 80%);
  background: -ms-linear-gradient(90deg, #1c1c1c 33%, #212121 80%);
  background: linear-gradient(180deg, #1c1c1c 33%, #212121 80%);
}
/* line 1047, ../sass/style.scss */
footer .container .logo-footer {
  padding-top: 30px;
  position: relative;
  width: 211px;
  height: 54px;
  margin-left: -5px;
  transform: translate(-50%, 0);
  left: 50%;
}
/* line 43, ../sass/style.scss */
footer .container .logo-footer .line {
  position: absolute;
  display: block;
  right: 0;
  top: 24px;
  width: 70px;
  height: 3px;
  background: #000;
  opacity: 0.2;
}
/* line 53, ../sass/style.scss */
footer .container .logo-footer img {
  position: relative;
  z-index: 9;
  margin: 5px 0 0 -10px;
}
/* line 1050, ../sass/style.scss */
footer .container .logo-footer .logo {
  background-image: none;
}
/* line 1052, ../sass/style.scss */
footer .container .logo-footer .logo img {
  margin: 5px 0 0 10px;
}
/* line 1057, ../sass/style.scss */
footer .container .square-group {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
}
/* line 1062, ../sass/style.scss */
footer .container .copyright {
  position: relative;
  max-width: 450px;
  font: 400 11px 'Arial';
  text-align: left;
  color: #fff;
  padding: 15px 5px 5px 25px;
  transform: translate(-50%, 0);
  left: 50%;
}
/* line 1071, ../sass/style.scss */
footer .container .copyright:before, footer .container .copyright:after {
  position: absolute;
  content: "";
  height: 83px;
  width: 2px;
  background: url("../images/vertical-line.png") center no-repeat;
}
/* line 1078, ../sass/style.scss */
footer .container .copyright:before {
  top: 8px;
  left: 5px;
}
/* line 1082, ../sass/style.scss */
footer .container .copyright:after {
  top: 8px;
  right: 10px;
}
/* line 1086, ../sass/style.scss */
footer .container .copyright a {
  color: #fff;
  text-transform: uppercase;
}
/* line 1090, ../sass/style.scss */
footer .container .copyright span {
  display: block;
  font: 400 11px 'Arial';
  color: #bfbfbf;
  margin: 10px 0;
}
/* line 1096, ../sass/style.scss */
footer .container .copyright .author {
  display: block;
  padding-right: 25px;
  font: 700 15px 'MyriadPro Cond';
  color: #484848;
  position: relative;
  text-align: right;
}
/* line 1105, ../sass/style.scss */
footer .container .square {
  padding: 1.69492%;
  width: 180px;
  float: left;
  margin-right: 1.69492%;
}
/* line 1108, ../sass/style.scss */
footer .container .square li {
  width: 47.36842%;
  float: left;
  margin-right: 10px;
  width: 84px;
  height: 29px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  margin-bottom: 4px;
}
/* line 66, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/language/susy/_gallery.scss */
footer .container .square li:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/language/susy/_gallery.scss */
footer .container .square li:nth-child(2n + 2) {
  margin-left: 52.63158%;
  margin-right: -100%;
  clear: none;
}
/* line 1117, ../sass/style.scss */
footer .container .up-button {
  float: right;
  margin-right: 5%;
  margin-top: 20px;
  color: #494949;
  font: 11px 'MyriadPro Cond';
}
/* line 1123, ../sass/style.scss */
footer .container .up-button span {
  display: block;
  text-align: center;
}
/* line 1126, ../sass/style.scss */
footer .container .up-button span:hover {
  box-shadow: 0px 2px 2px white;
}

@media (min-width: 1020px) {
  /* line 1134, ../sass/style.scss */
  footer {
    height: 136px;
    position: relative;
    margin-top: 19px;
  }

  /* line 1140, ../sass/style.scss */
  footer .container:before {
    top: -19px;
  }
  /* line 1143, ../sass/style.scss */
  footer .container .logo-footer {
    transform: translate(-50%, -15%);
  }

  /* line 1147, ../sass/style.scss */
  footer .container .square-group {
    margin-top: 10px;
  }
  /* line 1149, ../sass/style.scss */
  footer .container .square-group .up-button {
    margin-right: 10%;
  }

  /* line 1153, ../sass/style.scss */
  .footer-grid:first-child {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }

  /* line 1156, ../sass/style.scss */
  .footer-grid:nth-child(2) {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
  }

  /* line 1159, ../sass/style.scss */
  .footer-grid:last-child {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}
