@import "susy";

// Susy Grid Config
// For more information: http://susydocs.oddbird.net/en/latest/settings/

$susy: (
  columns: 12,//  сколько колоноу
  gutters: 1/4, //растояни между колонками
	container: 1170px,// ширина контейнера
	math: fluid,// всё расчитываеться автоматически в %
	output: float,//стандарт
	gutter-position: inside,//

	debug: (//вертикальный ритм
		image: hide,
		color: rgba(#66f, .5),
		output: background,
		toggle: top right,
	)

);


