

@media (min-width: 768px){
  .container {
    width: 750px;
  }
}
@media (min-width: 992px){
  .container {
    width: 970px;
  }

}
@media (min-width: 1200px){
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 763px) {
  #home .itemsMenu li{
    width:auto;
    float: right;
    margin-top: 25px;
  }
  .itemsMenu li:nth-last-child{
    padding-right: 0;
  }



}
@media (min-width: 992px){
  .our-services ul li{
    box-sizing:border-box;
    float:left;
    width:30%;
  }
  .our-services ul li:nth-child(1),
  .our-services ul li:nth-child(2) {
    margin-right:5%;
  }

  }


