@import "grids";
@import "reset";
@import "screen";

/*-----------------main---------------------*/
*{
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
h2 {
  width:100%;
  text-align:center;
  margin:45px auto 25px;
  font:30px/50px Quicksand Regular, sans-serif;
  color:#000;
  margin-top:50px;
}
/*-----------------Header NAV---------------------*/

#logo {
  float: left;
  padding:5px;
  margin:5px 5px 0 0;
   a {
    vertical-align: middle;
    font: bold 31px/26px 'Lovelo Line Bold';
    color: white;
  }
}

#navbar{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  background-color: #ff5959;

}
#navbar.default {
  position: fixed;
  top: 0;
  background-color: #ff5959;
  color:white;
  transition-duration: 1s;
}
.logo.default{
  border:3px solid #000;
}
.iconMenu{
  float: right;
  padding-top: 25px;
  margin-right: 10px;
}
.nav{
  li {
    float: left;
    margin-right: 35px;
    text-align: center;
    a {
      text-decoration: none;
      color: #e8e8e8;
      font:bold 14px'Quicksand Bold', sans-serif;;
         &:hover {
           background:#fc7d7d;
           border-radius:25px;
           color: #fff;
           transition:1s;
           padding:5px 10px;
      }
    }
  }
}

.itemsMenu li {
  display:inline;
  padding-right: 35px;
  width:100%;
  margin: 0 auto;
   a{
     padding:5px 10px;
   }

}

.iconMenu {
  color: #fff;
  cursor: pointer;
  display: none;

}

.showitems {
  display:block !important;
}

@media screen and (max-width: 962px) {
  #menu a{
    padding-bottom: 13px;
  }
  #nav a:hover {
    border-bottom: none;
  }
  .iconMenu {
    display:block;
  }
  .itemsMenu {
    display:none;
  }
  .itemsMenu li {
    display:block;
    padding:10px 0;
  }
}
 /**/
/*---------------------------hero----------------------*/
.hero {
  position: relative;
  height: 100vh;
  background: url("../images/fon2.jpg") fixed center center/cover no-repeat;
}
.hero .hero-body {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%); }

.hero .hero-title {
  color: #fff;
  font: 400 58px/150px 'Lovelo-Black';
  text-transform: uppercase;
  span {
    font: 400 150px/10px 'Helvetica Neue';
  }
}

.main-text h1 {
  font: bold 55px/45px 'Droid Sans Bold', sans-serif;
  color:#fff;
}
.main-text span {
  font:25px/45px 'Droid Sans Bold', sans-serif;
  color:#fff;
}
.main-text p {
  margin:50px 0 50px 0;
  color:#fff;

}
.main-img li{
  margin:30px 0px;
  display: inline-block;
}
.main-img a {
  background:none;
  font: bold 18px 'Droid Sans Bold', sans-serif;
  padding:10px 40px;
  border:3px solid #ff5959;
  border-radius:10px;
  cursor:pointer;
  text-decoration:none;
  color:#fff;
}
.main-img li:nth-child(1) a {
  padding: 10px 50px;
}
.main-img a:hover {
  background:#ff5959;
  opacity:0.9;
  transition:1s;
}
.main-img a:hover {
  background:#ff5959;
  opacity:0.9;
  transition:1s;
}

#home .container{
  padding-right: 0px;
  padding-left:0px;
  margin-right: auto;
  margin-left: auto;
}
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.clearfix:after {
  content:'';
  display:table;
  clear:both;
}
/*@media (min-width: 768px){
  .container {
    width: 750px;
  }
}
@media (min-width: 992px){
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px){
  .container {
    width: 1170px;
  }
}
*/
/*------------------------OUR Services--------------------*/
.our-services {
  background:#e8e8e8;
  padding:60px 0;
}
.row{
  text-align:center;
}
.our-services h3 {
  margin:15px 0 25px;
  font: 24px 'Quicksand Regular', sans-serif;
}
.our-services ul {
  text-align:center;
   li{
     margin-bottom: 30px;
   }
}
h2 {
  width:100%;
  text-align:center;
  margin:0px auto 25px;
  font:30px/50px Quicksand Regular, sans-serif;
  color:#000;
  padding: 60px  0 0 0;

}
.doted {
  position:relative;
  margin:0  auto 50px;
  width:5px;
  height:5px;
  display:block;
  text-align:center;
  background:#000;
  color:#a8a8a8;
  border-radius:50%;
}
.doted:before {
  position: absolute;
  top: 2px;
  left: 10px;
  content: '';
  display: block;
  width: 170px;
  border-top: 1px solid #8b8b8b;
}
.doted:after {
  position: absolute;
  top: 2px;
  right: 10px;
  content: '';
  display: block;
  width: 170px;
  border-top: 1px solid #8b8b8b;
}
/*--------------------------Portfolio---------------------------------*/
.portfolio{
  padding: 60px 0;
  background:#ff5959;
}
.portfolio h2 {
  color:white;
}
.portfolio .container{
  padding:0;
   .row{
     margin-left: 15px;
   }
}
.portfolio .doted{
  background:#fff;
}
.portfolio .doted:before,
.portfolio .doted:after {
  border-top: 1px solid #ff9b9b;
}
.portfolio ul {
  margin:0 auto;
  text-align: center;

}
.portfolio li :last-child {
  margin-right:0;
}
.portfolio ul li {
  position:relative;
  display:inline-block;
  margin:0 20px 60px 0;
}
.change {
  display:none;
  position:absolute;
  background:#ff5959;
  background-position:cover;
  width: 100%;
  height: 100%;
  color:white;
  text-align:center;
  vertical-align:center;
  top:0;
  transition-duration:2s;
}
.portfolio ul li:hover .change {
  display:block;
  opacity:0.8;
  transition:0.5s;

}
.gallery .change span {
  display:block;
  margin:120px auto 15px;
  font:bold 24px 'Quicksand Bold', sans-serif;
}
.change a {
  padding:5px 8px;
  margin:0 10px 0 0;
  background:#fe0f0f;
  border-radius:5px;
  color:white;
  border:3px solid #fe0f0f;
  transition:0.5s;
}
.change a:hover {
  background:none;
  border:3px solid #fe0f0f;
  transition:0.5s;
}
/*------------------------Team-------------------------*/
.team {
  background:#e8e8e8;
  padding:60px 0;

}
.team ul {
  box-sizing:border-box;
  display:inline-block;
  width:225px;
  margin:0 10px 25px 0;
  text-align:center;
}
.team .container{
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
.team img {
  border:3px solid #fe585a;
  border-radius:50%;

}
.team h4 {
  margin:10px 0 0 0;
  font:bold 24px 'Quicksand Bold',sans-serif;
  color:#000;
}
.team span {
  display:block;
  margin-bottom:20px;
  font: 16px 'Quicksand Light',sans-serif;
  color:#000;
}
.team .fa{
  margin-right:10px;
  width:15px;
  height:15px;
  line-height:15px;
  box-sizing: content-box;
}
.team .fa:hover {
  background:none;
  border: 3px solid #000;
  color:#000;
  transition:0.5s;
  transform:scale(1.2);
}
.team  p{
  margin-bottom:15px;
}
.fa-twitter {
  padding:5px;
  background:#79cdf1;
  border:3px solid #79cdf1;
  border-radius:100%;
  color:#fff;
}

.fa-pinterest  {
  padding:5px;
  background:#eb5756;
  border:3px solid #eb5756;
  border-radius:100%;
  color:white;
}
.fa-facebook {
  padding:5px;
  background:#547bbd;
  border:3px solid #547bbd;
  border-radius:100%;
  color:white;
}
.fa-google-plus {
  padding:5px;
  background:#000;
  border:3px solid #000;
  border-radius:100%;
  color:white;
}
.fa-linkedin {
  padding:5px;
  background:#1385c8;
  border:3px solid #1385c8;
  border-radius:100%;
  color:white;
}

/*-------------------------------------NEWS--------------------------------------*/
.news {
  background:#ff5959;
  padding:60px 0;
  color:#fff;
}
.news h2 {
  color:#fff;
}
.news .doted{
  background:#fff;
}
.news .doted:before,
.news .doted:after {
  border-top: 1px solid #ff9b9b;
}
.news .container {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
.news ul {
  box-sizing:border-box;
  display:inline-block;
  width:370px;
  margin:25px 0 25px 0;
  text-align:left;
}
.news h5 {
  font:bold 18px 'Quicksand Bold', sans-serif;
  margin:20px 0 10px;
}
.news .data,
.news p {
  font: 13px 'Quicksand Bold', sans-serif;
  margin-bottom:20px;
}
.fa-calendar-o {
  padding-right:5px;
}
.fa-user,
.fa-comments-o{
  padding-right:10px;
}
.fa-comments-o {
  margin-left: 150px;
}

/*-------------------------------------CONTACT--------------------------------------*/
.contact {
  background:#e8e8e8;
  padding:60px 0;
}
.contact .container {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
.contact form,
.contact .contact-information{
  float:left;
  width:564px;
  margin-right:0px;
  box-sizing:border-box;
}
.contact ul {
  margin-top:50px;
}
.contact  form input,
.contact  form textarea {
  width:550px;
  border:none;
  border-radius:5px;
  margin-bottom:15px;
}
.contact  form input{
  padding:10px;
}
.contact ul {
  text-align:left;
}
.contact  form textarea {
  height:170px;
  padding:10px;
}
textarea:focus,
form input:focus {
  box-shadow:0 0px 5px 0 #ff5959;
  transition-duration: 0.5s;
  color:#000;
}
textarea:hover,
form input:hover {
  color: #ff5959;
  transition-duration: 0.5s
}
.contact h5 {
  font: 24px 'Quicksand Regular',sans-serif;
  margin:0 0 20px 0;
}
.contact p {
  margin:0 0 20px 0;
}
.fa-map-marker,
.fa-phone {
  padding-right:10px;
}
.contact li:nth-child(3),
.contact li:nth-child(4) {
  font: 13px 'Quicksand Regular',sans-serif;
  margin-bottom:10px;
}
.contact li:nth-child(4){
  margin-bottom:40px;
}
.contact-information  a{
  background:none;
  font: bold 18px 'Droid Sans Bold', sans-serif;
  padding:10px 40px;
  margin:0 15px 0 0;
  border:3px solid #ff5959;
  border-radius:10px;
  cursor:pointer;
  text-decoration:none;
  color:#ff5959;
}
.contact-information  a:first-child{
  padding:10px 50px
}
.contact-information  a:hover {
  background:#ff5959;
  opacity:0.9;
  transition:1s;
  color:#fff;
}
.contact-information {
  position:relative;
}
.pointer {
  position:absolute;
  top: 145px;
  left: 190px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
footer{
  background:#ff5959;
  height:100px;
}
footer span {
  margin:0  auto;
  padding:50px 0;
  width:100%;
  display:block;
  text-align:center;
  color:#fff;
}