body{
background-color: #026873;
background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
background-size: 13px, 29px, 37px, 53px;
}
#wrapper{
width: 800px; 
margin: 0 auto;
}
form{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius:10px;
background:white;
}
.header, legend{
font-weight:bold;
}
fieldset{
padding:10px;
margin:10px;
border:1px solid #cccccc;
}
textarea{
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius:5px;
box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2);
border:1px solid #ccc;
padding:4px 5px;
background:white;
}

textarea:focus{
box-shadow:0 0 5px rgba(50, 200, 255, 0.5);
outline:none;
}
input[type="text"]{
border:1px solid #ccc;
padding:4px 5px;
background:white;
height:20px;
width:300px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius:5px;
box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
input[type="text"]:focus{
box-shadow:0 0 5px rgba(50, 200, 255, 0.5);
outline:none;
 }
#age{
height:20px;
width:40px;
border:1px solid #ccc;
padding:4px 5px;
background:white;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius:5px;
box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
#age:focus{
box-shadow:0 0 5px rgba(50, 200, 255, 0.5);
outline:none;
}
.aboutme{
margin:2px 10px;
}
.fieldset2 input[type="text"]{
height:20px;
width:120px;
border:1px solid #ccc;
padding:4px 5px;
background:white;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius:5px;
box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
.fieldset2 input[type="text"]:focus{
box-shadow:0 0 5px rgba(50, 200, 255, 0.5);
outline:none;
}
.fieldset3 input[type="text"]{
height:20px;
width:120px;
margin-top:1px;
width:230px;
border:1px solid #ccc;
padding:4px 5px;
background:white;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius:5px;
box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
.fieldset3 input[type="text"]:focus{
box-shadow:0 0 5px rgba(50, 200, 255, 0.5);
outline:none;
}
label{
cursor:pointer; 
}
.fieldset2 p:not(.header),.fieldset3 p:not(.header):not(.headerset3)  {
margin:1px;
}
.headerset3{
font-weight:bold;
margin-bottom:1px;
}
i{
display:block;
margin-bottom:15px;
}
input[type="submit"]{
margin-left:10px;
margin-bottom:10px;
padding:5px 15px;  
font-weight:bold;
color:#333;
background:white;
border:none;
border-radius: 12px;
background-image: linear-gradient(to bottom, #fff, #ddd);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
text-shadow:0 1px 1px white;
}
select{
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius:5px;
}

