.portfolio {
  background: #232323;
    .filter {
    li {
      display: inline-block;
      margin: 0 20px 20px 0;
      text-align: center;


      a {
        display: block;
        width: 100px;
        height: 40px;
        color: #fff;
        background: none;
        text-align: center;
        border: 2px solid #d11f2d;
        font: 600 14px/36px 'Open Sans';
        &:hover {
          transition: 0.5s;
          background: #d11f2d;
        }
      }
    }
  }
}
.row{
  margin: 0 auto;
  text-align: center;
}
.portfolio-item{
  li{
    position: relative;
    width:320px;
    margin:0 auto -10px;

    .rolover{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #fff;
      outline: 1px solid rgba(255, 255, 255, 0.85);
      outline-offset: -20px;
      opacity:0;
       &:hover{
         opacity: 1;
         transition:0.5s;
       }
            p{
        font:700 14px/20px 'Montserrat';
        margin-top: 100px;
      }
      span{
        font:400 10px/20px 'Open Sans';
        text-transform:uppercase;

      }
    }
  }
}

/*------------------------------DESKTOP------------------------------*/
@media(min-width: 769px) {
  .portfolio {
    .filter {
      li {
        a {
          width: 140px;
          height: 40px;
         }
      }
    }
  }
  .portfolio-item li
  {
    @include gallery(6 of 12);
    transition: 1s;

  }
  .portfolio img{
    min-width: 326px;
  }
  .portfolio-item{
    max-width: 640px;
    margin: 0 auto;
  }
  .portfolio-item li{
    .rolover{
      width: 326px;
    }
  }
}

@media(min-width: 961px) {
  .portfolio {
    .filter {
      li {
        a {
          width: 140px;
          height: 40px;
        }
      }
    }
  }
  .portfolio-item li
  {
    @include gallery(4 of 12);
    transition: 1s;

  }
  .portfolio img{
    min-width: 326px;
  }
  .portfolio-item{
    max-width: 960px;
    margin: 0 auto;
  }
  .portfolio-item li{
    .rolover{
      width: 326px;
    }
  }
}

@media(min-width: 1280px) {
  .portfolio {
    .filter {
      li {
        a {
          width: 140px;
          height: 40px;
        }
      }
    }
  }
  .portfolio-item li
  {
    @include gallery(3 of 12);
    transition: 1s;

  }
  .portfolio img{
    min-width: 326px;
  }
  .portfolio-item{
    max-width: 1285px;
    margin: 0 auto;
  }
  .portfolio-item li{
    .rolover{
      width: 326px;
    }
  }
}
