@font-face {
  font-family: 'TrebuchetMS';
  src: url("../fonts/trebuchet/TrebuchetMS.eot?#iefix") format("embedded-opentype"), url("../fonts/trebuchet/TrebuchetMS.woff") format("woff"), url("../fonts/trebuchet/TrebuchetMS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TrebuchetMS';
  src: url("../fonts/trebuchet/TrebuchetMS-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/trebuchet/TrebuchetMS-Bold.woff") format("woff"), url("../fonts/trebuchet/TrebuchetMS-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/arial/ArialRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/arial/ArialRegular.woff) format("woff"), url(../fonts/arial/ArialRegular.ttf) format("truetype"); }

@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/arial/ArialBold.eot?#iefix) format("embedded-opentype"), url(../fonts/arial/ArialBold.woff) format("woff"), url(../fonts/arial/ArialBold.ttf) format("truetype"); }
