header {
  padding: 1.9rem 0;
  min-height: 6.5rem;
  width: 100%;
  background: #00bff3; }
  header .container-header h1 {
    float: left;
    margin-right: .75rem; }
  header .container-header .descr-header {
    float: left;
    color: white;
    padding-top: .5rem;
    text-align: center; }
  header .container-header .right-block {
    float: right;
    padding-top: 0.6875rem; }
    header .container-header .right-block li {
      display: inline-block;
      margin-right: 2.2rem; }
    header .container-header .right-block .tel a {
      color: #fff;
      font-size: 1.875rem;
      font-weight: 400; }
    header .container-header .right-block .tel:hover {
      opacity: .8; }
    header .container-header .right-block .call-back {
      border-bottom: 0.063rem dashed white; }
      header .container-header .right-block .call-back a {
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem; }
      header .container-header .right-block .call-back:hover {
        opacity: .8; }
    header .container-header .right-block .social-block {
      margin-left: 4.4rem; }
      header .container-header .right-block .social-block span {
        display: block; }
        header .container-header .right-block .social-block span a {
          width: 1.938rem;
          height: 1.938rem;
          display: inline-block;
          margin-right: .6rem;
          text-align: center;
          font-size: 1rem;
          border-radius: 50%; }
          header .container-header .right-block .social-block span a:hover {
            transition: all .5s ease;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg); }
          header .container-header .right-block .social-block span a:active {
            -webkit-transform: scale(0.96);
            -ms-transform: scale(0.96);
            transform: scale(0.96); }
  header .left-block {
    float: left; }

.show-navPos,
.show-winPos {
  position: fixed;
  top: 10px;
  right: 10px;
  background: red;
  color: #fff; }

.show-winPos {
  background-color: blue;
  top: 50px; }

.fixed {
  position: fixed;
  padding: .5rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: 1s; }

.shadow {
  background: #00bff3;
  box-shadow: 0px 7px 17px -2px #757575; }

/*------------------------------------Preloader----------------------------*/
.loader {
  background: none repeat scroll 0 0 white;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }

.loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute; }
