@charset "UTF-8";
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body {
  width: 100%;
  height: 100%;
  font-size: 100%; }

body {
  padding: 0;
  margin: 0;
  font: 1rem "Arial", sans-serif;
  background: #fff;
  color: #000; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none; }

textarea {
  vertical-align: top; }

:focus {
  outline: none; }

input[type=submit] {
  cursor: pointer; }

img, fieldset {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:link, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

*::-webkit-input-placeholder {
  color: #000;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

a :hover, a:focus, a:active, input:hover, input:focus {
  transition: 0.2s; }

.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.hiden {
  display: none; }

img {
  max-width: 100%; }

header, section, footer {
  box-sizing: border-box; }

footer {
  padding: 1rem 0 2.7rem; }
  footer .container {
    border-top: 0.125rem solid #777; }
    footer .container .footer-content {
      float: left;
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 3.5rem; }
      footer .container .footer-content a {
        color: #00a2ff; }
        footer .container .footer-content a:hover {
          text-decoration: underline; }
  footer .social-block {
    display: block;
    float: right;
    margin-top: 1rem; }
    footer .social-block a {
      width: 1.938rem;
      height: 1.938rem;
      display: inline-block;
      margin-right: .6rem;
      text-align: center;
      font-size: 1rem;
      border-radius: 50%; }
      footer .social-block a:hover {
        transition: all .5s ease;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg); }
      footer .social-block a:active {
        -webkit-transform: scale(0.96);
        -ms-transform: scale(0.96);
        transform: scale(0.96); }

.hero:after {
  content: " ";
  display: block;
  clear: both; }

.hero .big-bg-container {
  margin-bottom: 30px;
  position: relative;
  min-height: 552px;
  background: url("../img/trinagle1.png") bottom right no-repeat, url("../img/hero-bg.jpg"); }

.hero .tour {
  position: absolute;
  bottom: 3rem;
  left: 1.75rem;
  width: 14.375rem;
  height: 14.375rem;
  border-radius: 50%;
  background: rgba(255, 242, 0, 0.7);
  font-family: "TrebuchetMS"; }
  .hero .tour .name-tour {
    margin: 0 auto 21px;
    padding: 2.2rem 0 0 0;
    max-width: 8.813rem;
    color: black;
    font-size: 1.563rem;
    font-weight: 700;
    line-height: 1.875rem;
    text-align: center; }
  .hero .tour .code {
    color: black;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.875rem;
    text-align: center; }
    .hero .tour .code span {
      margin: 0 auto;
      display: block;
      width: 6.813rem;
      height: 1.938rem;
      background: #000;
      border-radius: 0.063rem 0.125rem 0.125rem 0.063rem;
      color: white;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.938rem; }

.snippet {
  font-size: 100%;
  float: left; }
  .snippet .info {
    margin-bottom: 25px; }
    .snippet .info li {
      display: inline-block; }
    .snippet .info li:not(:last-child) {
      margin-right: 2.1em; }
    .snippet .info li:first-child {
      padding-bottom: 6px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
    .snippet .info li:first-child, .snippet .info li:last-child {
      font-family: "TrebuchetMS";
      font-size: 2.188em;
      font-weight: 700;
      line-height: 1.875em; }
    .snippet .info .fa-star {
      color: #ffc20e; }
  .snippet .rating li {
    display: inline-block;
    margin-right: 1.15em;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.125em; }
    .snippet .rating li span {
      display: block;
      color: #777;
      font-size: 0.75em;
      text-transform: uppercase; }
  .snippet .rating li:first-child {
    margin-right: 2.1em;
    font-size: 0.875em; }
    .snippet .rating li:first-child span {
      font-size: 0.875em; }
  .snippet .rating .accent {
    margin-right: 1.8em;
    width: 3.125em;
    height: 3.188em;
    background-color: #00bff3;
    border-radius: 0.125em;
    text-align: center;
    line-height: 3.188em; }
    .snippet .rating .accent span {
      color: #fff;
      font-family: "TrebuchetMS";
      font-size: 1.5em;
      font-weight: 700; }

.fact {
  float: right;
  margin-right: 10%;
  position: relative;
  top: -1.5rem;
  max-width: 10rem; }
  .fact span {
    color: #777;
    font-family: "TrebuchetMS";
    font-size: 6.25rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: center; }
  .fact P {
    margin-top: 1rem;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 2rem; }

.extrim {
  padding: 2.2rem 0 3.5rem; }
  .extrim:after {
    content: " ";
    display: block;
    clear: both; }
  .extrim ul {
    max-width: 48%;
    margin-bottom: .5rem; }
    .extrim ul .description {
      float: left;
      margin-top: 1.5rem; }
      .extrim ul .description h3 {
        margin-bottom: .7rem;
        padding-bottom: 3px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        font-family: "TrebuchetMS";
        font-size: 1.875rem;
        font-weight: 700;
        line-height: 1.875rem; }
      .extrim ul .description span {
        color: #777;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.125rem; }
    .extrim ul .price {
      padding: 1px;
      float: right;
      font-family: "TrebuchetMS";
      font-size: 3.125rem;
      font-weight: 700; }
  .extrim .extrim-one {
    float: left; }
  .extrim .extrim-two {
    float: right; }
    .extrim .extrim-two .price {
      padding: 1px;
      float: right;
      font-family: "TrebuchetMS";
      font-size: 3.125rem;
      font-weight: 700; }
      .extrim .extrim-two .price span {
        position: relative;
        display: block;
        text-align: right;
        color: #777;
        font-family: "TrebuchetMS";
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.875rem; }
        .extrim .extrim-two .price span:before {
          content: " ";
          display: block;
          height: 1px;
          width: 2.563rem;
          background: red;
          position: absolute;
          right: 0;
          top: 50%; }

.main-content {
  padding: 4rem 0 2.8rem; }
  .main-content:after {
    content: " ";
    display: block;
    clear: both; }
  .main-content .main {
    float: left;
    padding-right: .5rem;
    width: 74.7%; }
  .main-content .right-block {
    width: 24.32%; }
  .main-content .title {
    margin-bottom: 26px;
    display: block;
    font-family: "TrebuchetMS";
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 3.5rem; }
  .main-content p {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem; }
  .main-content p:nth-of-type(1) {
    font-size: 1rem;
    font-weight: 700; }
  .main-content .more-emphasis {
    display: block;
    margin-bottom: .5rem;
    margin-top: 2rem;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 0; }
  .main-content .selected-paragraph {
    margin-left: 1.5rem;
    background: #f0fbfe;
    border-left: 2px solid #33cbf5;
    padding-left: .5rem; }
    .main-content .selected-paragraph p {
      font-size: 0.875rem;
      font-weight: 400; }
  .main-content .less-emphasis {
    font-weight: 700; }
  .main-content table {
    min-width: 46.813rem;
    margin-bottom: 2rem; }
    .main-content table th {
      height: 1.875rem;
      background-color: #ebebeb;
      font-size: 0.75rem;
      font-weight: 700;
      vertical-align: middle;
      text-align: left; }
    .main-content table tr:not(:last-child) {
      border-bottom: 0.125rem solid #ebebeb; }
    .main-content table tr:first-child {
      border-bottom: 0.125rem solid #777;
      border-radius: 3px 3px 0 0; }
    .main-content table td {
      height: 1.875rem;
      vertical-align: middle;
      font-size: 0.875rem;
      font-weight: 400; }
    .main-content table td:first-child {
      padding: 0 1.3rem 0 1.3rem;
      font-size: 0.75rem;
      font-weight: 700;
      vertical-align: middle; }
  .main-content .research li {
    margin-left: .9rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem; }
    .main-content .research li:before {
      content: '—';
      margin-right: .3rem; }
    .main-content .research li:first-child {
      margin-left: 0; }
      .main-content .research li:first-child:before {
        content: ""; }
  .main-content .right-block {
    width: 24.32%;
    float: right; }
    .main-content .right-block .significative {
      float: right;
      margin: 11.5rem auto 0;
      max-width: 13rem;
      font-family: "TrebuchetMS"; }
      .main-content .right-block .significative li:first-child {
        color: #777;
        margin-bottom: 4px;
        font-size: 6.25rem;
        font-weight: 400; }
      .main-content .right-block .significative li:nth-child(2) {
        margin-bottom: 1.3rem;
        font-size: 1.875rem;
        font-weight: 400;
        line-height: 2rem; }
      .main-content .right-block .significative li:last-child {
        color: #777;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.5rem; }
