@font-face {
font-family: "MyriadPro BoldCond";
    src: url("../font/MyriadPro/MyriadPro-BoldCond.otf");
}

@font-face {
    font-family: "MyriadPro Cond";
    src: url("../font/MyriadPro/MyriadPro-Cond.otf");
}

@font-face {
    font-family: "MyriadPro CondIt";
    src: url("../font/MyriadPro/MyriadPro-CondIt.otf");
}

@font-face {
    font-family: "AGLettericaCondensed";
    src: url("../font/aglettericacondensedc.otf");
}