@font-face {
    font-family: AkkuratLigth;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/AkkuratLigth/AkkuratLigth.eot?#iefix) format("embedded-opentype"), url(../fonts/AkkuratLigth/AkkuratLigth.woff) format("woff"), url(../fonts/AkkuratLigth/AkkuratLigth.ttf) format("truetype");
}
@font-face {
    font-family: Akkurat;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Akkurat/Akkurat.eot?#iefix) format("embedded-opentype"), url(../fonts/Akkurat/Akkurat.woff) format("woff"), url(../fonts/Akkurat/Akkurat.ttf) format("truetype");
}
@font-face {
    font-family: ProximaNova;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ProximaNovaRegular/ProximaNovaT-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNovaRegular/ProximaNovaT-Thin.woff) format("woff"), url(../fonts/ProximaNovaRegular/ProximaNovaT-Thin.ttf) format("truetype");
}
@font-face {
    font-family: RomanC;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/RomanC/RomanC.eot?#iefix) format("embedded-opentype"), url(../fonts/RomanC/RomanC.woff) format("woff"), url(../fonts/RomanC/RomanC.ttf) format("truetype");
}