
@font-face {
  font-family: 'GlastenNormal';
  src: url('GlastenNormal.eot?#iefix') format('embedded-opentype'),  url('GlastenNormal.woff') format('woff'), url('GlastenNormal.ttf')  format('truetype'), url('GlastenNormal.svg#GlastenNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}
