/*---------------------------------HEADER-----------------------------------*/

.hero {
  position: relative;
  min-height: 500px;
  padding: 0 5px 5px 5px;
  background: url(../images/hero-bg-1.png) no-repeat top, #ececec;
  color: #f7f7f7;
  .hero-body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    .hero-title {
      margin: 0 auto;
      font: italic 30px/40px "Lato", sans-serif;
      text-transform: uppercase;
    }

  }
}

@media(min-width: 769px) {
  .hero {
    min-height: 800px;
    background: url(../images/hero-bg.png) center center/cover no-repeat, #ececec;;
    .hero-body {
      top: 50%;
      .hero-title {
        font: italic 44px/60px "Lato", sans-serif;
        margin-top: 20px;
      }
    }
  }
}

@media(min-width: 1320px) {
  .hero {
    min-height: 1030px;
  }
}

/*-------------------------NAV---------------------------------*/
#navbar {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  background: none;
}

#navbar.default {
  position: fixed;
  top: 0;
  transition-duration: 2s;
  background: #42b4fd;
}

.iconMenu {
  float: right;
  padding-top: 15px;
  margin-right: 10px;
}

.nav {
  li {
    float: left;
    margin-right: 35px;
    text-align: center;
    padding: 5px 10px;
    a {
      text-decoration: none;
      font: 400 18px/24px 'Lato', sans-serif;
      color: white;
    }
  }
}

.itemsMenu li {
  display: inline;
  padding-right: 35px;
  width: 100%;
  margin: 0 auto;
  a {
    &:hover {
      background: #ffcc00;
      border-radius: 5px;

    }
  }
}

.iconMenu {
  cursor: pointer;
  display: none;
  color: #fc0;
}

.showitems {
  display: block !important;
  transition: 1s;
}

.iconMenu {
  display: block;
}

.itemsMenu {
  display: none;
}

.itemsMenu li {
  display: block;
  padding: 5px;
}

@media(min-width: 769px) {
  .itemsMenu {
    display: block;
    margin: 0 auto;
    width: 750px;
  }
  .iconMenu {
    display: none;
  }
  .itemsMenu li {
    padding: 0px 10px 0px;
    width: auto;
    float: right;
    a {
      display: block;
      padding: 35px 0px;
      width: 85px;
      &:hover {
        transition: 0.5s;
        background: url("../images/hover.png") no-repeat;

      }
    }
  }
}

//------------------------------
