.hero-blog{
  min-height: 300px;
@extend .hero;
  background: url("../images/header-blog-bg.jpg") fixed center/cover no-repeat;
h2{
  width: 300px;
  height: 70px;
  background-color: #424146;
  color:#ffea00;
  font: 400 35px/70px 'Century Gothic';
  text-align: left;
  padding-left: 20px;
}
}
@media (min-width: 769px) {
  .hero-blog {
    min-height: 500px;
  }
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
.container {
  @include container;
}

a:hover, a:focus, input:hover {
  transition: 0.2s;
}

/**/
.blog-main{
  img{
    max-width: 100%;
  }
  }
$dark-bg:#403f46;
@mixin col-third-nav{
  .fa{
    width: 31px;
    height: 31px;
    background:#ffeb00;
    text-align: center;
    line-height: 31px;
    margin-right: 15px;
  }
  a{
    font: 400 16px/21px 'Century Gothic';
    color: #fff;
    text-transform: uppercase;
  }
}
@mixin h5-col3{
  color: #ffea00;
  font: 400 20px/21px "Century Gothic";
  text-transform: uppercase;
}

@mixin post{
  margin-bottom: 30px;
  .post-header{
    background-color: #ffea00;
    height: 70px;
    margin-bottom: 40px;
    p{
      font: italic 400 21px/21px 'Century Gothic',sans-serif;
      color: #000;
      span{
        display: block;
        text-align: right;
        font: 400 11px/0px 'Century Gothic',sans-serif;
      }

    }
  }
  .post-text-block{
    background:#ffea00 ;
    max-width: 550px;
    padding: 25px;
    h4{
      font: 400 23px/30px 'Century Gothic',sans-serif;
      color: #000;
    }
    p{
      font: 400 14px/20px 'Century Gothic',sans-serif;
      color: #5e5e5e;
      margin: 25px 0px;
    }
    .fa{
      font-size: 10px;
      margin-right:5px;
    }
    span{
      font: 400 12px/20px 'Century Gothic',sans-serif;
    }
  }
  .post-img-block{
    background:#ffea00;
  }
}

.col-first{
  max-width: 550px;
  .first-post{
    @include post;

  }

}
.col-first{
  max-width: 550px;
  margin: 30px auto;
  .second-post{
    @include post;

  }
}
.col-first{
  max-width: 550px;
  margin: 30px auto;
  .third-post{
    @include post;
  }
}

/*-------------------------COL-twoo-------------------------*/
.col-two{
  max-width: 550px;
  margin: 30px auto;
  .first-post,
  .second-post,
  .third-post,
  .fourth-post{
    @include post;
  }
}
/*--------------------COL-THIRD-------------------------*/
.col-third{
  max-width: 471px;
  margin: 0 auto;
}
.search-box{
  background-color: #424147;
  height: 70px;
  .search-form{
    margin: 0 auto;
    max-width: 320px;
    position: relative;
    line-height: 70px;

    input[type="text"] {
      height: 28px;
      width: 320px;
      border-radius: 15px;
      border: 1px solid #454545;
      background-color: #f6f6f6;
      background: linear-gradient(to bottom, #f6f6f6 0%, #f6f6f6 100%);
      font: 400 18px/28px 'Century Gothic';
      color: #737373;
      &:focus {
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 1.5);

      }
    }
    input[type="submit"] {
      position: absolute;
      height: 22px;
      width: 23px;
      top: 25px;
      right: 35px;
      border: none;
      background: url("../images/search-icon.png") center no-repeat transparent;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
    ::-webkit-input-placeholder {
      color: #737373;
    }
    ::-moz-placeholder {
      color: #737373;
    }
    :-moz-placeholder {
      color: #737373;
    }
    :-ms-input-placeholder {
      color: #737373;
    }

  }
}
.categories{

  background:$dark-bg ;
  padding: 35px 0 0 35px;
  margin: 30px auto;
  h5{
   @include h5-col3;
    margin-bottom: 35px;
  }
  }

.categories-col1,
.categories-col2{
  display: inline-block;
  margin-right: 35px;
 @include col-third-nav;
  li{
    margin-bottom: 15px;
  }
}


.arhive{

  background:$dark-bg ;
  padding: 35px 0 0 35px;
  margin: 30px auto;
  h5{
    @include h5-col3;
    margin-bottom: 35px;

  }
}

.arhive-col1,
.arhive-col2{
  display: inline-block;
  margin-right: 20px;
  @include col-third-nav;
  li{
    margin-bottom: 15px;
  }
}
.arhive-col2,
.categories-col2{
  margin-right: 0;
}


.popular-post-main{
  max-width: 100%;

  background:$dark-bg ;
  padding: 35px 5px 0 35px;
  margin: 30px auto;
  h5{
    @include h5-col3;
    margin-bottom: 35px;
  }
}
.popular-post-block{
  img{
    float: left;
    margin-bottom: 25px;
    margin-right: 7px;
  }
  p{
    font: 400 16px/20px 'Century Gothic';
    color: #fff;
  }
  a{
    float: right;
    font: 400 12px/20px 'Century Gothic';
    color: #ffea00;
  }
}
.tags{
  max-width: 100%;

  background:$dark-bg ;
  padding: 35px 5px 0 35px;
  margin: 30px auto;
  h5{
    @include h5-col3;
    margin-bottom: 35px;
  }
  .tags-list{
    margin: 0 auto;
    text-align: left;
    li{
      float: left;
      margin: 3px 3px 3px 0;
      padding: 6px 9px;
      background-color: #ffea00;
      a{
        color: #424147;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
      }
    }
  }
}

.blog-main{
  .container{
    @include container(1630px);
    @media(min-width: 769px){
      .col-first{

        @include span(4.5 of 12 inside);
      }
      .col-two{

        @include span(4.5 of 12 inside);
      }
      .col-third{

        @include span(3 of 12 inside);
      }
    }
  }
}