.hero {
  position: relative;
  min-height: 800px;
  padding: 0 0px 5px 0px;
  background:url("../images/hero-bg.jpg") fixed center/cover no-repeat;
  color: #fff;
  .hero-body {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    .hero-title {
      font: 700 48px/46px "Helvetica Neue";
      text-transform: uppercase;
      margin-bottom: 20px;
      span {
        color: #fff;
      }
    }
    p {
      font: 300 30px/30px "Helvetica Neue";
      margin-bottom: 100px;
    }
  }
  .cta{
    display: block;
    height:60px ;
    width:300px;
    margin: 30px auto;
    color:#fff ;
    background:#f8cd53 ;
    font: 700 23px/60px "Helvetica Neue";
    text-align: center;
    border-radius: 6px;
    &:hover{
      color:#f8cd53 ;
      background:#fff;
      transition: 0.5s;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    }
  }
}

.hero .show-button{
  display: block;
  width:200px ;
  height: 50px;
  background:#ed145b;
  margin:30px auto ;
  border-radius: 24px;
  font:700 15px/50px 'Lato';
  color: #fff;
  text-transform: uppercase;
  &:hover{
    color: #ed145b;
    background: #fff;
    transition: 0.5s;
    box-shadow: 0 1px 2px rgba(1,1, 1, 0.9);

  }
}
.top-header{
  background:#f0f2f4 ;
  height: 40px;
  box-shadow: 0 1px 0 #e2e2e2;
  text-align: center;
  margin: 0 auto;
    li{
    font: 400 15px "Helvetica Neue";
    color: #424242;
    display: inline-block;
    margin-right: 1px;
     height: 40px;
     padding-top: 10px;
    .fa{
      margin-right: 10px;
      font-size: 14px;
    }
    .fa-mobile{
      font-size: 20px;
    }
    .fa-facebook{
      position: relative;
      top:-5px;
      display: block;
      width: 26px;
      height: 26px;
      background:#1287bf ;
      color: #fff;
      line-height: 26px;
      text-align: center;
      border-radius: 3px 2px 2px 3px;
      float: right;
     margin-left: 10px;
      cursor: pointer;
      &:hover{
        background: #fff ;
        color:#1287bf;
        transition: 0.2s;
        box-shadow: 0 1px 2px rgba(1,1, 1, 0.9);
      }
    }
  }
li:first-child{
  border-right: 1px solid #e2e2e2;
  padding-right: 2px;
}
  li:last-child{
    position: relative;
  }
}
@media (min-width: 769px) {
  .top-header li{
    margin-right: 15px;
  }
  .top-header li:first-child{
      padding-right: 20px;
  }
  .top-header
  ul{
    margin-right: 15%;
    float: right;
  }

  }


/*------------------------------------------------DASKTOP------------------------*/
@media (min-width: 769px) {
  .hero {
    min-height: 800px;
    .hero-body {
      top: 60%;

    }
  }
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAVBAR---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#hero .logo-box {
  float: left;
  margin-top: 10px;
  li:first-child{
    float: left;
    color:#dd2a24;
    font-size: 47px;
    margin-right: 10px;
  }
  li:nth-child(2){
    float: left;
    a{
      font:700 27px "Helvetica Neue" ;
      color: #424242;
    }
      }
  li:nth-child(3){
    font:400 12px "Helvetica Neue" ;
    color: #424242;
  }
}

#navbar {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  background: #fff;

}

#navbar.default {
  position: fixed;
  top: 0;
  transition-duration: 2s;
  background: #fff;
}

.iconMenu {
  float: right;
  padding-top: 25px;
  margin-right: 10px;
}

.nav {
  li {
    float: left;
    margin-right: 35px;
    text-align: center;
    padding: 5px 10px;
    a {
      text-decoration: none;
      font: 700 16px/20px 'Lato';
      color: #424242;
    }
    &:hover {
      transition: 0.2s;
      color:#e7645e;
    }
  }
}

.itemsMenu li {
  display: inline;
  padding-right: 35px;
  width: 100%;
  margin: 0 auto;
  a {
    padding: 5px 10px;
    &:hover {
      transition: 0.5s;
      color: #ed145b;
    }

  }
}
#navbar .button-header{
  display: block;
  height:35px ;
  width:170px;
  color:#fff ;
  background:#dd2a24 ;
  font:700 15px/25px "Helvetica Neue";
  text-align: center;
  border-radius: 4px;
  margin: 0 auto;
    &:hover{
      color:#dd2a24;
      background:#fff  ;
      transition: 0.2s;
      box-shadow: 0 1px 2px rgba(1,1, 1, 0.9);
    }
}
.iconMenu {
  color: #dd2a24;
  cursor: pointer;
  display: none;
  &:hover {
    color: #ed145b;
    transition: 0.5s;
  }
}

.showitems {
  display: block !important;
  transition: 1s;
}

.iconMenu {
  display: block;
}

.itemsMenu {
  display: none;
}

.itemsMenu li {
  display: block;
  padding: 5px;

}

@media(min-width: 769px) {
  .itemsMenu {
    display: block;
    float: right;
  }
  .iconMenu {
    display: none;
  }
  .itemsMenu li {
    padding: 5px 10px;
    width: auto;
    float: left;
    margin-top: 15px;
    list-style: disc;
  }
  .disk {
    display: block;
    width: 5px;
    height: 5px;
    background-color: #424242;
    border-radius: 50%;
    position: relative;
    top:-2px;
    left: -5px;
    margin-right: 5px;

  }
  li:nth-child(2),
  li:nth-child(3),
  li:nth-child(4){
    position: relative;
    .disk,a{
      display: inline-block;

    }
  }
}
/*------------------------------------------------ABOUT------------------------*/





